In [2]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

In [3]:
file_list = os.listdir("C:/bigdata/data/전국부동산실거래가")
len(file_list)

296

In [4]:
file_list # 마지막 8개는 다른 파일이 있으니까 부동산 파일만 보려면 거꾸로 -8로 불러와 함.

['1999_01.csv',
 '1999_02.csv',
 '1999_03.csv',
 '1999_04.csv',
 '1999_05.csv',
 '1999_06.csv',
 '1999_07.csv',
 '1999_08.csv',
 '1999_09.csv',
 '1999_10.csv',
 '1999_11.csv',
 '1999_12.csv',
 '2000_01.csv',
 '2000_02.csv',
 '2000_03.csv',
 '2000_04.csv',
 '2000_05.csv',
 '2000_06.csv',
 '2000_07.csv',
 '2000_08.csv',
 '2000_09.csv',
 '2000_10.csv',
 '2000_11.csv',
 '2000_12.csv',
 '2001_01.csv',
 '2001_02.csv',
 '2001_03.csv',
 '2001_04.csv',
 '2001_05.csv',
 '2001_06.csv',
 '2001_07.csv',
 '2001_08.csv',
 '2001_09.csv',
 '2001_10.csv',
 '2001_11.csv',
 '2001_12.csv',
 '2002_01.csv',
 '2002_02.csv',
 '2002_03.csv',
 '2002_04.csv',
 '2002_05.csv',
 '2002_06.csv',
 '2002_07.csv',
 '2002_08.csv',
 '2002_09.csv',
 '2002_10.csv',
 '2002_11.csv',
 '2002_12.csv',
 '2003_01.csv',
 '2003_02.csv',
 '2003_03.csv',
 '2003_04.csv',
 '2003_05.csv',
 '2003_06.csv',
 '2003_07.csv',
 '2003_08.csv',
 '2003_09.csv',
 '2003_10.csv',
 '2003_11.csv',
 '2003_12.csv',
 '2004_01.csv',
 '2004_02.csv',
 '2004_03.csv',
 '2004_04.csv',
 '2004_05.csv',
 '2004_06.csv',
 '2004_07.csv',
 '2004_08.csv',
 '2004_09.csv',
 '2004_10.csv',
 '2004_11.csv',
 '2004_12.csv',
 '2005_01.csv',
 '2005_02.csv',
 '2005_03.csv',
 '2005_04.csv',
 '2005_05.csv',
 '2005_06.csv',
 '2005_07.csv',
 '2005_08.csv',
 '2005_09.csv',
 '2005_10.csv',
 '2005_11.csv',
 '2005_12.csv',
 '2006_01.csv',
 '2006_02.csv',
 '2006_03.csv',
 '2006_04.csv',
 '2006_05.csv',
 '2006_06.csv',
 '2006_07.csv',
 '2006_08.csv',
 '2006_09.csv',
 '2006_10.csv',
 '2006_11.csv',
 '2006_12.csv',
 '2007_01.csv',
 '2007_02.csv',
 '2007_03.csv',
 '2007_04.csv',
 '2007_05.csv',
 '2007_06.csv',
 '2007_07.csv',
 '2007_08.csv',
 '2007_09.csv',
 '2007_10.csv',
 '2007_11.csv',
 '2007_12.csv',
 '2008_01.csv',
 '2008_02.csv',
 '2008_03.csv',
 '2008_04.csv',
 '2008_05.csv',
 '2008_06.csv',
 '2008_07.csv',
 '2008_08.csv',
 '2008_09.csv',
 '2008_10.csv',
 '2008_11.csv',
 '2008_12.csv',
 '2009_01.csv',
 '2009_02.csv',
 '2009_03.csv',
 '2009_04.csv',
 '2009_05.csv',
 '2009_06.csv',
 '2009_07.csv',
 '2009_08.csv',
 '2009_09.csv',
 '2009_10.csv',
 '2009_11.csv',
 '2009_12.csv',
 '2010_01.csv',
 '2010_02.csv',
 '2010_03.csv',
 '2010_04.csv',
 '2010_05.csv',
 '2010_06.csv',
 '2010_07.csv',
 '2010_08.csv',
 '2010_09.csv',
 '2010_10.csv',
 '2010_11.csv',
 '2010_12.csv',
 '2011_01.csv',
 '2011_02.csv',
 '2011_03.csv',
 '2011_04.csv',
 '2011_05.csv',
 '2011_06.csv',
 '2011_07.csv',
 '2011_08.csv',
 '2011_09.csv',
 '2011_10.csv',
 '2011_11.csv',
 '2011_12.csv',
 '2012_01.csv',
 '2012_02.csv',
 '2012_03.csv',
 '2012_04.csv',
 '2012_05.csv',
 '2012_06.csv',
 '2012_07.csv',
 '2012_08.csv',
 '2012_09.csv',
 '2012_10.csv',
 '2012_11.csv',
 '2012_12.csv',
 '2013_01.csv',
 '2013_02.csv',
 '2013_03.csv',
 '2013_04.csv',
 '2014_01.csv',
 '2014_02.csv',
 '2014_03.csv',
 '2014_04.csv',
 '2014_05.csv',
 '2014_06.csv',
 '2014_07.csv',
 '2014_08.csv',
 '2014_09.csv',
 '2014_10.csv',
 '2014_11.csv',
 '2014_12.csv',
 '2015_01.csv',
 '2015_02.csv',
 '2015_03.csv',
 '2015_04.csv',
 '2015_05.csv',
 '2015_06.csv',
 '2015_07.csv',
 '2015_08.csv',
 '2015_09.csv',
 '2015_10.csv',
 '2015_11.csv',
 '2015_12.csv',
 '2016_01.csv',
 '2016_02.csv',
 '2016_03.csv',
 '2016_04.csv',
 '2016_05.csv',
 '2016_06.csv',
 '2016_07.csv',
 '2016_08.csv',
 '2016_09.csv',
 '2016_10.csv',
 '2016_11.csv',
 '2016_12.csv',
 '2017_01.csv',
 '2017_02.csv',
 '2017_03.csv',
 '2017_04.csv',
 '2017_05.csv',
 '2017_06.csv',
 '2017_07.csv',
 '2017_08.csv',
 '2017_09.csv',
 '2017_10.csv',
 '2017_11.csv',
 '2017_12.csv',
 '2018_01.csv',
 '2018_02.csv',
 '2018_03.csv',
 '2018_04.csv',
 '2018_05.csv',
 '2018_06.csv',
 '2018_07.csv',
 '2018_08.csv',
 '2018_09.csv',
 '2018_10.csv',
 '2018_11.csv',
 '2018_12.csv',
 '2019_01.csv',
 '2019_02.csv',
 '2019_03.csv',
 '2019_04.csv',
 '2019_05.csv',
 '2019_06.csv',
 '2019_07.csv',
 '2019_08.csv',
 '2019_09.csv',
 '2019_10.csv',
 '2019_11.csv',
 '2019_12.csv',
 '2020_01.csv',
 '2020_02.csv',
 '2020_03.csv',
 '2020_04.csv',
 '2020_05.csv',
 '2020_06.csv',
 '2020_07.csv',
 '2020_08.csv',
 '2020_09.csv',
 '2020_10.csv',
 '2020_11.csv',
 '2020_12.csv',
 '2021_01.csv',
 '2021_02.csv',
 '2021_03.csv',
 '2021_04.csv',
 '2021_05.csv',
 '2021_06.csv',
 '2021_07.csv',
 '2021_08.csv',
 '2021_09.csv',
 '2021_10.csv',
 '2021_11.csv',
 '2021_12.csv',
 '2022_01.csv',
 '2022_02.csv',
 '2022_03.csv',
 '2022_04.csv',
 '2022_05.csv',
 '2022_06.csv',
 '2022_07.csv',
 '2022_08.csv',
 '2022_09.csv',
 '2022_10.csv',
 '2022_11.csv',
 '2022_12.csv',
 '2023_01.csv',
 '2023_02.csv',
 '2023_03.csv',
 '2023_04.csv',
 '2023_05.csv',
 '2023_06.csv',
 '2023_07.csv',
 '2023_08.csv',
 '법정동코드 전체자료.txt',
 '아파트 매매 상세자료 조회 기술문서.hwp',
 '아파트주소2좌표변환.csv',
 '아파트주소2좌표변환.xlsx',
 '전국부동산실거래가1999-2023.csv',
 '전국부동산실거래가2013-2023.csv',
 '전국학군정보.xlsx',
 '한국은행기준금리1999-2023.xlsx']

In [5]:
file_list[:-8]

['1999_01.csv',
 '1999_02.csv',
 '1999_03.csv',
 '1999_04.csv',
 '1999_05.csv',
 '1999_06.csv',
 '1999_07.csv',
 '1999_08.csv',
 '1999_09.csv',
 '1999_10.csv',
 '1999_11.csv',
 '1999_12.csv',
 '2000_01.csv',
 '2000_02.csv',
 '2000_03.csv',
 '2000_04.csv',
 '2000_05.csv',
 '2000_06.csv',
 '2000_07.csv',
 '2000_08.csv',
 '2000_09.csv',
 '2000_10.csv',
 '2000_11.csv',
 '2000_12.csv',
 '2001_01.csv',
 '2001_02.csv',
 '2001_03.csv',
 '2001_04.csv',
 '2001_05.csv',
 '2001_06.csv',
 '2001_07.csv',
 '2001_08.csv',
 '2001_09.csv',
 '2001_10.csv',
 '2001_11.csv',
 '2001_12.csv',
 '2002_01.csv',
 '2002_02.csv',
 '2002_03.csv',
 '2002_04.csv',
 '2002_05.csv',
 '2002_06.csv',
 '2002_07.csv',
 '2002_08.csv',
 '2002_09.csv',
 '2002_10.csv',
 '2002_11.csv',
 '2002_12.csv',
 '2003_01.csv',
 '2003_02.csv',
 '2003_03.csv',
 '2003_04.csv',
 '2003_05.csv',
 '2003_06.csv',
 '2003_07.csv',
 '2003_08.csv',
 '2003_09.csv',
 '2003_10.csv',
 '2003_11.csv',
 '2003_12.csv',
 '2004_01.csv',
 '2004_02.csv',
 '2004_03.csv',
 '2004_04.csv',
 '2004_05.csv',
 '2004_06.csv',
 '2004_07.csv',
 '2004_08.csv',
 '2004_09.csv',
 '2004_10.csv',
 '2004_11.csv',
 '2004_12.csv',
 '2005_01.csv',
 '2005_02.csv',
 '2005_03.csv',
 '2005_04.csv',
 '2005_05.csv',
 '2005_06.csv',
 '2005_07.csv',
 '2005_08.csv',
 '2005_09.csv',
 '2005_10.csv',
 '2005_11.csv',
 '2005_12.csv',
 '2006_01.csv',
 '2006_02.csv',
 '2006_03.csv',
 '2006_04.csv',
 '2006_05.csv',
 '2006_06.csv',
 '2006_07.csv',
 '2006_08.csv',
 '2006_09.csv',
 '2006_10.csv',
 '2006_11.csv',
 '2006_12.csv',
 '2007_01.csv',
 '2007_02.csv',
 '2007_03.csv',
 '2007_04.csv',
 '2007_05.csv',
 '2007_06.csv',
 '2007_07.csv',
 '2007_08.csv',
 '2007_09.csv',
 '2007_10.csv',
 '2007_11.csv',
 '2007_12.csv',
 '2008_01.csv',
 '2008_02.csv',
 '2008_03.csv',
 '2008_04.csv',
 '2008_05.csv',
 '2008_06.csv',
 '2008_07.csv',
 '2008_08.csv',
 '2008_09.csv',
 '2008_10.csv',
 '2008_11.csv',
 '2008_12.csv',
 '2009_01.csv',
 '2009_02.csv',
 '2009_03.csv',
 '2009_04.csv',
 '2009_05.csv',
 '2009_06.csv',
 '2009_07.csv',
 '2009_08.csv',
 '2009_09.csv',
 '2009_10.csv',
 '2009_11.csv',
 '2009_12.csv',
 '2010_01.csv',
 '2010_02.csv',
 '2010_03.csv',
 '2010_04.csv',
 '2010_05.csv',
 '2010_06.csv',
 '2010_07.csv',
 '2010_08.csv',
 '2010_09.csv',
 '2010_10.csv',
 '2010_11.csv',
 '2010_12.csv',
 '2011_01.csv',
 '2011_02.csv',
 '2011_03.csv',
 '2011_04.csv',
 '2011_05.csv',
 '2011_06.csv',
 '2011_07.csv',
 '2011_08.csv',
 '2011_09.csv',
 '2011_10.csv',
 '2011_11.csv',
 '2011_12.csv',
 '2012_01.csv',
 '2012_02.csv',
 '2012_03.csv',
 '2012_04.csv',
 '2012_05.csv',
 '2012_06.csv',
 '2012_07.csv',
 '2012_08.csv',
 '2012_09.csv',
 '2012_10.csv',
 '2012_11.csv',
 '2012_12.csv',
 '2013_01.csv',
 '2013_02.csv',
 '2013_03.csv',
 '2013_04.csv',
 '2014_01.csv',
 '2014_02.csv',
 '2014_03.csv',
 '2014_04.csv',
 '2014_05.csv',
 '2014_06.csv',
 '2014_07.csv',
 '2014_08.csv',
 '2014_09.csv',
 '2014_10.csv',
 '2014_11.csv',
 '2014_12.csv',
 '2015_01.csv',
 '2015_02.csv',
 '2015_03.csv',
 '2015_04.csv',
 '2015_05.csv',
 '2015_06.csv',
 '2015_07.csv',
 '2015_08.csv',
 '2015_09.csv',
 '2015_10.csv',
 '2015_11.csv',
 '2015_12.csv',
 '2016_01.csv',
 '2016_02.csv',
 '2016_03.csv',
 '2016_04.csv',
 '2016_05.csv',
 '2016_06.csv',
 '2016_07.csv',
 '2016_08.csv',
 '2016_09.csv',
 '2016_10.csv',
 '2016_11.csv',
 '2016_12.csv',
 '2017_01.csv',
 '2017_02.csv',
 '2017_03.csv',
 '2017_04.csv',
 '2017_05.csv',
 '2017_06.csv',
 '2017_07.csv',
 '2017_08.csv',
 '2017_09.csv',
 '2017_10.csv',
 '2017_11.csv',
 '2017_12.csv',
 '2018_01.csv',
 '2018_02.csv',
 '2018_03.csv',
 '2018_04.csv',
 '2018_05.csv',
 '2018_06.csv',
 '2018_07.csv',
 '2018_08.csv',
 '2018_09.csv',
 '2018_10.csv',
 '2018_11.csv',
 '2018_12.csv',
 '2019_01.csv',
 '2019_02.csv',
 '2019_03.csv',
 '2019_04.csv',
 '2019_05.csv',
 '2019_06.csv',
 '2019_07.csv',
 '2019_08.csv',
 '2019_09.csv',
 '2019_10.csv',
 '2019_11.csv',
 '2019_12.csv',
 '2020_01.csv',
 '2020_02.csv',
 '2020_03.csv',
 '2020_04.csv',
 '2020_05.csv',
 '2020_06.csv',
 '2020_07.csv',
 '2020_08.csv',
 '2020_09.csv',
 '2020_10.csv',
 '2020_11.csv',
 '2020_12.csv',
 '2021_01.csv',
 '2021_02.csv',
 '2021_03.csv',
 '2021_04.csv',
 '2021_05.csv',
 '2021_06.csv',
 '2021_07.csv',
 '2021_08.csv',
 '2021_09.csv',
 '2021_10.csv',
 '2021_11.csv',
 '2021_12.csv',
 '2022_01.csv',
 '2022_02.csv',
 '2022_03.csv',
 '2022_04.csv',
 '2022_05.csv',
 '2022_06.csv',
 '2022_07.csv',
 '2022_08.csv',
 '2022_09.csv',
 '2022_10.csv',
 '2022_11.csv',
 '2022_12.csv',
 '2023_01.csv',
 '2023_02.csv',
 '2023_03.csv',
 '2023_04.csv',
 '2023_05.csv',
 '2023_06.csv',
 '2023_07.csv',
 '2023_08.csv']

In [6]:
#data = pd.read_csv('C:/bigdata/data/전국부동산실거래가/2023_08.csv')

* 'utf-8' codec can't decode byte 0xa1 in position 1: invalid start byte 오류 --> encoding='cp949'

* Error tokenizing data. C error: Expected 1 fields in line 16, saw 16 오류 --> skiprows=15  15번째줄까지 다른 내용이 있기 때문에 난 오류

In [7]:
data = pd.read_csv('C:/bigdata/data/전국부동산실거래가/2023_08.csv',skiprows=15, encoding='cp949')

In [8]:
data.head(2)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 강릉시 견소동,202,0202,0,송정한신,59.800,202308,8,"23,000",9,1997.0,경강로2539번길 8,NaN,,중개거래,강릉시
1,강원특별자치도 강릉시 견소동,202,0202,0,송정한신,84.945,202308,14,"31,000",13,1997.0,경강로2539번길 8,NaN,,중개거래,강릉시

In [9]:
# 폴더에 있는 여러개의 csv파일을 하나의 데이터프레임에 담기
# 왜 f포메팅이지??
data_hap = pd.DataFrame()
for idx, i in enumerate(file_list[:-8]):
    print(idx, end="\r")
    data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')
    data_hap = pd.concat([data_hap, data])

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4988\3186835542.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

### concat을 하면 인덱스가 섞여있으니 인덱스 정리를 해줘야 해!

In [30]:
data_hap.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 양구군 양구읍 상리,510,510,0,경림,59.400,200509,23,"5,000",11,1998,양록길23번길 11,NaN,,-,-
0,경기도 의정부시 민락동,756-7,756,7,한라비발디,84.990,200510,30,"12,750",19,2003,오목로 73,NaN,,-,-
1,경기도 의정부시 신곡동,456,456,0,신일1,59.878,200510,20,"5,750",3,1997,시민로245번길 10,NaN,,-,-
2,경기도 의정부시 신곡동,727-1,727,1,풍림,49.830,200510,20,"5,500",8,1998,회룡로 245,NaN,,-,-
0,경기도 의정부시 용현동,46,46,0,용현현대1차,129.730,200511,21,"12,200",11,1992,오목로 36,NaN,,-,-

In [71]:
data = data_hap

In [32]:
len(data)

9591343

In [72]:
data = data.reset_index(drop=True)

In [14]:
data.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 양구군 양구읍 상리,510,510,0,경림,59.400,200509,23,"5,000",11,1998,양록길23번길 11,NaN,,-,-
1,경기도 의정부시 민락동,756-7,756,7,한라비발디,84.990,200510,30,"12,750",19,2003,오목로 73,NaN,,-,-
2,경기도 의정부시 신곡동,456,456,0,신일1,59.878,200510,20,"5,750",3,1997,시민로245번길 10,NaN,,-,-
3,경기도 의정부시 신곡동,727-1,727,1,풍림,49.830,200510,20,"5,500",8,1998,회룡로 245,NaN,,-,-
4,경기도 의정부시 용현동,46,46,0,용현현대1차,129.730,200511,21,"12,200",11,1992,오목로 36,NaN,,-,-

In [15]:
# 전체 컬럼을 열어볼 수 있다.
pd.set_option("display.max_columns", None)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591343 entries, 0 to 9591342
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   번지        object
 2   본번        object
 3   부번        object
 4   단지명       object
 5   전용면적(㎡)   float64
 6   계약년월      object
 7   계약일       object
 8   거래금액(만원)  object
 9   층         object
 10  건축년도      object
 11  도로명       object
 12  해제사유발생일   float64
 13  등기신청일자    object
 14  거래유형      object
 15  중개사소재지    object
dtypes: float64(2), object(14)
memory usage: 1.1+ GB

In [73]:
data.drop(['번지', '본번','부번', '계약일', '해제사유발생일', '등기신청일자','거래유형','중개사소재지'],axis=1, inplace=True)

In [74]:
data.head()

,시군구,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도,도로명,시,구,동
0,강원특별자치도 양구군 양구읍 상리,경림,59.400,200509,"5,000",11,1998,양록길23번길 11,0,1,2
1,경기도 의정부시 민락동,한라비발디,84.990,200510,"12,750",19,2003,오목로 73,0,1,2
2,경기도 의정부시 신곡동,신일1,59.878,200510,"5,750",3,1997,시민로245번길 10,0,1,2
3,경기도 의정부시 신곡동,풍림,49.830,200510,"5,500",8,1998,회룡로 245,0,1,2
4,경기도 의정부시 용현동,용현현대1차,129.730,200511,"12,200",11,1992,오목로 36,0,1,2

In [75]:
# data2[data2["Name"].str.contains("John")] 특정 이름이 들어있는 거 찾을 때 방법.
data = data[data['시군구'].str.contains("서울")]

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215019 entries, 0 to 1215018
Data columns (total 11 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   시군구       1215019 non-null  object
 1   단지명       1215019 non-null  object
 2   전용면적(㎡)   1215019 non-null  float64
 3   계약년월      1215019 non-null  object
 4   거래금액(만원)  1215019 non-null  object
 5   층         1215019 non-null  object
 6   건축년도      1215019 non-null  object
 7   도로명       1215019 non-null  object
 8   시         1215019 non-null  int64
 9   구         1215019 non-null  int64
 10  동         1215019 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 102.0+ MB

data['시군구'] = data[data['시군구'].str.contains("서울")] 이렇게 하면 ValueError: Columns must be same length as key 이런 오류가 뜨네.
data = data[data['시군구'].str.contains("서울")] 이렇게 넣어야 해!

In [44]:
data.head()

,시군구,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도,도로명,시,구,동
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,67.28,200601,"54,500",3,1987,언주로 3,0,1,2
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,200601,"67,000",3,1987,언주로 3,0,1,2
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,200601,"67,500",4,1987,언주로 3,0,1,2
3,서울특별시 강남구 개포동,개포우성3차,104.43,200601,"73,000",9,1984,개포로 307,0,1,2
4,서울특별시 강남구 개포동,개포우성3차,104.43,200601,"71,250",6,1984,개포로 307,0,1,2

In [76]:
# ,때문에 object로 되어있는 금액을 int로 바꾸기
data['거래금액(만원)'] = data['거래금액(만원)'].str.replace(',','').astype(int)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1215019 entries, 15268 to 9582298
Data columns (total 8 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   시군구       1215019 non-null  object
 1   단지명       1215019 non-null  object
 2   전용면적(㎡)   1215019 non-null  float64
 3   계약년월      1215019 non-null  object
 4   거래금액(만원)  1215019 non-null  int32
 5   층         1215019 non-null  object
 6   건축년도      1215019 non-null  object
 7   도로명       1215019 non-null  object
dtypes: float64(1), int32(1), object(6)
memory usage: 78.8+ MB

In [24]:
data.head()

,시군구,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도,도로명
15268,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,67.28,200601,54500,3,1987,언주로 3
15269,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,200601,67000,3,1987,언주로 3
15270,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,200601,67500,4,1987,언주로 3
15271,서울특별시 강남구 개포동,개포우성3차,104.43,200601,73000,9,1984,개포로 307
15272,서울특별시 강남구 개포동,개포우성3차,104.43,200601,71250,6,1984,개포로 307

In [77]:
data = data.reset_index(drop=True)

In [78]:
data.head()

,시군구,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도,도로명,시,구,동
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,67.28,200601,54500,3,1987,언주로 3,0,1,2
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,200601,67000,3,1987,언주로 3,0,1,2
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,200601,67500,4,1987,언주로 3,0,1,2
3,서울특별시 강남구 개포동,개포우성3차,104.43,200601,73000,9,1984,개포로 307,0,1,2
4,서울특별시 강남구 개포동,개포우성3차,104.43,200601,71250,6,1984,개포로 307,0,1,2

In [27]:
data.isna().sum()

시군구         0
단지명         0
전용면적(㎡)     0
계약년월        0
거래금액(만원)    0
층           0
건축년도        0
도로명         0
dtype: int64

In [80]:
sigungu = data['시군구']

In [81]:
data2 = data['시군구'].str.split(expand=True, n=2)

In [82]:
data2

             0    1    2
0        서울특별시  강남구  개포동
1        서울특별시  강남구  개포동
2        서울특별시  강남구  개포동
3        서울특별시  강남구  개포동
4        서울특별시  강남구  개포동
...        ...  ...  ...
1215014  서울특별시  중랑구  신내동
1215015  서울특별시  중랑구  신내동
1215016  서울특별시  중랑구  신내동
1215017  서울특별시  중랑구  중화동
1215018  서울특별시  중랑구  중화동

[1215019 rows x 3 columns]

In [83]:
data2.columns=['시','구','동']

In [84]:
data = pd.concat([data2, data], axis=1)

In [85]:
data = data.drop('시군구', axis=1)

In [86]:
data

,시,구,동,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도,도로명,시,구,동
0,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,67.28,200601,54500,3,1987,언주로 3,0,1,2
1,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79.97,200601,67000,3,1987,언주로 3,0,1,2
2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79.97,200601,67500,4,1987,언주로 3,0,1,2
3,서울특별시,강남구,개포동,개포우성3차,104.43,200601,73000,9,1984,개포로 307,0,1,2
4,서울특별시,강남구,개포동,개포우성3차,104.43,200601,71250,6,1984,개포로 307,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215014,서울특별시,중랑구,신내동,화성.두산아파트,84.99,202308,73800,11,1995.0,신내로 155,0,1,2
1215015,서울특별시,중랑구,신내동,화성.두산아파트,84.99,202308,70000,12,1995.0,신내로 155,0,1,2
1215016,서울특별시,중랑구,신내동,화성.두산아파트,66.96,202308,59000,8,1995.0,신내로 155,0,1,2
1215017,서울특별시,중랑구,중화동,한신아파트(103~109),50.37,202308,54200,9,1997.0,동일로 752,0,1,2
1215018,서울특별시,중랑구,중화동,한신아파트(103~109),59.76,202308,58000,2,1997.0,동일로 752,0,1,2

* iloc 로 인덱싱을 사용해서 잘라보자.<br>
 iloc<br>
인덱싱/슬라이싱을 사용해서 원하는 행과 컬럼만 가져오기 <br>
데이터프레임.iloc[행시작번호:행끝번호, 열시작번호:열끝번호]<br>

data2.iloc[4:10, 3:7]

In [87]:
data = data.iloc[:,:-3]

In [88]:
data

,시,구,동,단지명,전용면적(㎡),계약년월,거래금액(만원),층,건축년도,도로명
0,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,67.28,200601,54500,3,1987,언주로 3
1,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79.97,200601,67000,3,1987,언주로 3
2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79.97,200601,67500,4,1987,언주로 3
3,서울특별시,강남구,개포동,개포우성3차,104.43,200601,73000,9,1984,개포로 307
4,서울특별시,강남구,개포동,개포우성3차,104.43,200601,71250,6,1984,개포로 307
...,...,...,...,...,...,...,...,...,...,...
1215014,서울특별시,중랑구,신내동,화성.두산아파트,84.99,202308,73800,11,1995.0,신내로 155
1215015,서울특별시,중랑구,신내동,화성.두산아파트,84.99,202308,70000,12,1995.0,신내로 155
1215016,서울특별시,중랑구,신내동,화성.두산아파트,66.96,202308,59000,8,1995.0,신내로 155
1215017,서울특별시,중랑구,중화동,한신아파트(103~109),50.37,202308,54200,9,1997.0,동일로 752
1215018,서울특별시,중랑구,중화동,한신아파트(103~109),59.76,202308,58000,2,1997.0,동일로 752

In [95]:
sigungu

0          서울특별시 강남구 개포동
1          서울특별시 강남구 개포동
2          서울특별시 강남구 개포동
3          서울특별시 강남구 개포동
4          서울특별시 강남구 개포동
               ...
1215014    서울특별시 중랑구 신내동
1215015    서울특별시 중랑구 신내동
1215016    서울특별시 중랑구 신내동
1215017    서울특별시 중랑구 중화동
1215018    서울특별시 중랑구 중화동
Name: 시군구, Length: 1215019, dtype: object