In [1]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

## 전국 부동산 실거래가 파일이 총 296개 있음. 
## 파일 목록을 불러와 1개의 데이터 프레임으로 합쳐보세요.

In [2]:
# 파일 목록 불러오기
file_list = os.listdir("C:/bigdata/data/전국부동산실거래가")
len(file_list)

296

* 부동산 실거래가 파일만 불러와서 1개의 데이터 프레임으로 만들기
  * 반복문을 사용해서 파일 1개씩 불러오기
  * 빈 데이터 프레임 만들어서 합치기(concat)

In [3]:
file_list[:-8]

['1999_01.csv',
 '1999_02.csv',
 '1999_03.csv',
 '1999_04.csv',
 '1999_05.csv',
 '1999_06.csv',
 '1999_07.csv',
 '1999_08.csv',
 '1999_09.csv',
 '1999_10.csv',
 '1999_11.csv',
 '1999_12.csv',
 '2000_01.csv',
 '2000_02.csv',
 '2000_03.csv',
 '2000_04.csv',
 '2000_05.csv',
 '2000_06.csv',
 '2000_07.csv',
 '2000_08.csv',
 '2000_09.csv',
 '2000_10.csv',
 '2000_11.csv',
 '2000_12.csv',
 '2001_01.csv',
 '2001_02.csv',
 '2001_03.csv',
 '2001_04.csv',
 '2001_05.csv',
 '2001_06.csv',
 '2001_07.csv',
 '2001_08.csv',
 '2001_09.csv',
 '2001_10.csv',
 '2001_11.csv',
 '2001_12.csv',
 '2002_01.csv',
 '2002_02.csv',
 '2002_03.csv',
 '2002_04.csv',
 '2002_05.csv',
 '2002_06.csv',
 '2002_07.csv',
 '2002_08.csv',
 '2002_09.csv',
 '2002_10.csv',
 '2002_11.csv',
 '2002_12.csv',
 '2003_01.csv',
 '2003_02.csv',
 '2003_03.csv',
 '2003_04.csv',
 '2003_05.csv',
 '2003_06.csv',
 '2003_07.csv',
 '2003_08.csv',
 '2003_09.csv',
 '2003_10.csv',
 '2003_11.csv',
 '2003_12.csv',
 '2004_01.csv',
 '2004_02.csv',
 '2004_03.csv',
 '2004_04.csv',
 '2004_05.csv',
 '2004_06.csv',
 '2004_07.csv',
 '2004_08.csv',
 '2004_09.csv',
 '2004_10.csv',
 '2004_11.csv',
 '2004_12.csv',
 '2005_01.csv',
 '2005_02.csv',
 '2005_03.csv',
 '2005_04.csv',
 '2005_05.csv',
 '2005_06.csv',
 '2005_07.csv',
 '2005_08.csv',
 '2005_09.csv',
 '2005_10.csv',
 '2005_11.csv',
 '2005_12.csv',
 '2006_01.csv',
 '2006_02.csv',
 '2006_03.csv',
 '2006_04.csv',
 '2006_05.csv',
 '2006_06.csv',
 '2006_07.csv',
 '2006_08.csv',
 '2006_09.csv',
 '2006_10.csv',
 '2006_11.csv',
 '2006_12.csv',
 '2007_01.csv',
 '2007_02.csv',
 '2007_03.csv',
 '2007_04.csv',
 '2007_05.csv',
 '2007_06.csv',
 '2007_07.csv',
 '2007_08.csv',
 '2007_09.csv',
 '2007_10.csv',
 '2007_11.csv',
 '2007_12.csv',
 '2008_01.csv',
 '2008_02.csv',
 '2008_03.csv',
 '2008_04.csv',
 '2008_05.csv',
 '2008_06.csv',
 '2008_07.csv',
 '2008_08.csv',
 '2008_09.csv',
 '2008_10.csv',
 '2008_11.csv',
 '2008_12.csv',
 '2009_01.csv',
 '2009_02.csv',
 '2009_03.csv',
 '2009_04.csv',
 '2009_05.csv',
 '2009_06.csv',
 '2009_07.csv',
 '2009_08.csv',
 '2009_09.csv',
 '2009_10.csv',
 '2009_11.csv',
 '2009_12.csv',
 '2010_01.csv',
 '2010_02.csv',
 '2010_03.csv',
 '2010_04.csv',
 '2010_05.csv',
 '2010_06.csv',
 '2010_07.csv',
 '2010_08.csv',
 '2010_09.csv',
 '2010_10.csv',
 '2010_11.csv',
 '2010_12.csv',
 '2011_01.csv',
 '2011_02.csv',
 '2011_03.csv',
 '2011_04.csv',
 '2011_05.csv',
 '2011_06.csv',
 '2011_07.csv',
 '2011_08.csv',
 '2011_09.csv',
 '2011_10.csv',
 '2011_11.csv',
 '2011_12.csv',
 '2012_01.csv',
 '2012_02.csv',
 '2012_03.csv',
 '2012_04.csv',
 '2012_05.csv',
 '2012_06.csv',
 '2012_07.csv',
 '2012_08.csv',
 '2012_09.csv',
 '2012_10.csv',
 '2012_11.csv',
 '2012_12.csv',
 '2013_01.csv',
 '2013_02.csv',
 '2013_03.csv',
 '2013_04.csv',
 '2014_01.csv',
 '2014_02.csv',
 '2014_03.csv',
 '2014_04.csv',
 '2014_05.csv',
 '2014_06.csv',
 '2014_07.csv',
 '2014_08.csv',
 '2014_09.csv',
 '2014_10.csv',
 '2014_11.csv',
 '2014_12.csv',
 '2015_01.csv',
 '2015_02.csv',
 '2015_03.csv',
 '2015_04.csv',
 '2015_05.csv',
 '2015_06.csv',
 '2015_07.csv',
 '2015_08.csv',
 '2015_09.csv',
 '2015_10.csv',
 '2015_11.csv',
 '2015_12.csv',
 '2016_01.csv',
 '2016_02.csv',
 '2016_03.csv',
 '2016_04.csv',
 '2016_05.csv',
 '2016_06.csv',
 '2016_07.csv',
 '2016_08.csv',
 '2016_09.csv',
 '2016_10.csv',
 '2016_11.csv',
 '2016_12.csv',
 '2017_01.csv',
 '2017_02.csv',
 '2017_03.csv',
 '2017_04.csv',
 '2017_05.csv',
 '2017_06.csv',
 '2017_07.csv',
 '2017_08.csv',
 '2017_09.csv',
 '2017_10.csv',
 '2017_11.csv',
 '2017_12.csv',
 '2018_01.csv',
 '2018_02.csv',
 '2018_03.csv',
 '2018_04.csv',
 '2018_05.csv',
 '2018_06.csv',
 '2018_07.csv',
 '2018_08.csv',
 '2018_09.csv',
 '2018_10.csv',
 '2018_11.csv',
 '2018_12.csv',
 '2019_01.csv',
 '2019_02.csv',
 '2019_03.csv',
 '2019_04.csv',
 '2019_05.csv',
 '2019_06.csv',
 '2019_07.csv',
 '2019_08.csv',
 '2019_09.csv',
 '2019_10.csv',
 '2019_11.csv',
 '2019_12.csv',
 '2020_01.csv',
 '2020_02.csv',
 '2020_03.csv',
 '2020_04.csv',
 '2020_05.csv',
 '2020_06.csv',
 '2020_07.csv',
 '2020_08.csv',
 '2020_09.csv',
 '2020_10.csv',
 '2020_11.csv',
 '2020_12.csv',
 '2021_01.csv',
 '2021_02.csv',
 '2021_03.csv',
 '2021_04.csv',
 '2021_05.csv',
 '2021_06.csv',
 '2021_07.csv',
 '2021_08.csv',
 '2021_09.csv',
 '2021_10.csv',
 '2021_11.csv',
 '2021_12.csv',
 '2022_01.csv',
 '2022_02.csv',
 '2022_03.csv',
 '2022_04.csv',
 '2022_05.csv',
 '2022_06.csv',
 '2022_07.csv',
 '2022_08.csv',
 '2022_09.csv',
 '2022_10.csv',
 '2022_11.csv',
 '2022_12.csv',
 '2023_01.csv',
 '2023_02.csv',
 '2023_03.csv',
 '2023_04.csv',
 '2023_05.csv',
 '2023_06.csv',
 '2023_07.csv',
 '2023_08.csv']

 * 리스트 만들기

In [4]:
list(range(16))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [5]:
[x for x in range((15))]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
data = pd.read_csv('C:/bigdata/data/전국부동산실거래가/2023_08.csv', skiprows=15, encoding='cp949')

In [7]:
# 폴더에 있는 여러개의 csv파일을 하나의 데이터프레임에 담기
data_hap = pd.DataFrame()
for idx, i in enumerate(file_list[:-8]):
    print(idx, end="\r") # 작업이 얼마나 되고있는지 눈으로 보고 싶으면 enumerate idx를 사용하면 돼!
    data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')
    data_hap = pd.concat([data_hap,data])

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

C:\Users\hi\AppData\Local\Temp\ipykernel_4944\1253557502.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'C:/bigdata/data/전국부동산실거래가/{i}', skiprows=15, encoding='cp949')

In [8]:
len(data_hap)

9591343

In [9]:
data_hap.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 양구군 양구읍 상리,510,510,0,경림,59.400,200509,23,"5,000",11,1998,양록길23번길 11,NaN,,-,-
0,경기도 의정부시 민락동,756-7,756,7,한라비발디,84.990,200510,30,"12,750",19,2003,오목로 73,NaN,,-,-
1,경기도 의정부시 신곡동,456,456,0,신일1,59.878,200510,20,"5,750",3,1997,시민로245번길 10,NaN,,-,-
2,경기도 의정부시 신곡동,727-1,727,1,풍림,49.830,200510,20,"5,500",8,1998,회룡로 245,NaN,,-,-
0,경기도 의정부시 용현동,46,46,0,용현현대1차,129.730,200511,21,"12,200",11,1992,오목로 36,NaN,,-,-

* concat을 해서 인덱스가 섞여있으니 인덱스를 정리 해줘야 해.

In [10]:
data = data_hap

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9591343 entries, 0 to 30915
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   번지        object
 2   본번        object
 3   부번        object
 4   단지명       object
 5   전용면적(㎡)   float64
 6   계약년월      object
 7   계약일       object
 8   거래금액(만원)  object
 9   층         object
 10  건축년도      object
 11  도로명       object
 12  해제사유발생일   float64
 13  등기신청일자    object
 14  거래유형      object
 15  중개사소재지    object
dtypes: float64(2), object(14)
memory usage: 1.2+ GB

In [12]:
data.reset_index(drop=True) # drop=True를 해주면 인텍스가 없어지고 초기화된 인덱스로 데이터프레임이 만들어진다.

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 양구군 양구읍 상리,510,510,0,경림,59.400,200509,23,"5,000",11,1998,양록길23번길 11,NaN,,-,-
1,경기도 의정부시 민락동,756-7,756,7,한라비발디,84.990,200510,30,"12,750",19,2003,오목로 73,NaN,,-,-
2,경기도 의정부시 신곡동,456,456,0,신일1,59.878,200510,20,"5,750",3,1997,시민로245번길 10,NaN,,-,-
3,경기도 의정부시 신곡동,727-1,727,1,풍림,49.830,200510,20,"5,500",8,1998,회룡로 245,NaN,,-,-
4,경기도 의정부시 용현동,46,46,0,용현현대1차,129.730,200511,21,"12,200",11,1992,오목로 36,NaN,,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9591338,충청북도 충주시 호암동,547-6,0547,6,호반현대,84.960,202308,12,"15,700",2,1994.0,신촌2길 29,NaN,,중개거래,충북 충주시
9591339,충청북도 충주시 호암동,221-1,0221,1,호암리버빌(2단지),84.680,202308,10,"20,700",3,2002.0,호암중앙2로 5,NaN,,중개거래,충북 충주시
9591340,충청북도 충주시 호암동,1191,1191,0,호암힐데스하임,84.950,202308,21,"40,200",11,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
9591341,충청북도 충주시 호암동,1191,1191,0,호암힐데스하임,99.870,202308,26,"50,000",13,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
9591342,충청북도 충주시 호암동,1191,1191,0,호암힐데스하임,99.800,202308,31,"46,000",3,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시

In [13]:
data = data.reset_index(drop=True)

* 데이터 타입 맞추기(숫자나 문자 등), 결측값 처리하기, 삭제 할 컬럼 선정하기

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591343 entries, 0 to 9591342
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   번지        object
 2   본번        object
 3   부번        object
 4   단지명       object
 5   전용면적(㎡)   float64
 6   계약년월      object
 7   계약일       object
 8   거래금액(만원)  object
 9   층         object
 10  건축년도      object
 11  도로명       object
 12  해제사유발생일   float64
 13  등기신청일자    object
 14  거래유형      object
 15  중개사소재지    object
dtypes: float64(2), object(14)
memory usage: 1.1+ GB

In [15]:
data.tail()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
9591338,충청북도 충주시 호암동,547-6,0547,6,호반현대,84.96,202308,12,"15,700",2,1994.0,신촌2길 29,NaN,,중개거래,충북 충주시
9591339,충청북도 충주시 호암동,221-1,0221,1,호암리버빌(2단지),84.68,202308,10,"20,700",3,2002.0,호암중앙2로 5,NaN,,중개거래,충북 충주시
9591340,충청북도 충주시 호암동,1191,1191,0,호암힐데스하임,84.95,202308,21,"40,200",11,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
9591341,충청북도 충주시 호암동,1191,1191,0,호암힐데스하임,99.87,202308,26,"50,000",13,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시
9591342,충청북도 충주시 호암동,1191,1191,0,호암힐데스하임,99.80,202308,31,"46,000",3,2019.0,호암토성2로 1,NaN,,중개거래,충북 충주시

* 데이터 타입 맞추기

In [18]:
df['거래금액'] = df['거래금액'].str.replace(',', '').astype(int) # str을 쓰면 반복문을 쓰는거랑 비슷한 용도!

NameError: name 'df' is not defined

In [19]:
# 거래금액 , 빼고 int로 변경
data['거래금액(만원)'] = data['거래금액(만원)'].str.replace(',', '').astype(int)

In [20]:
data['거래금액(만원)']

0           5000
1          12750
2           5750
3           5500
4          12200
           ...
9591338    15700
9591339    20700
9591340    40200
9591341    50000
9591342    46000
Name: 거래금액(만원), Length: 9591343, dtype: int32

In [21]:
# object라는 건축년도를 float로 만들어 봄.
data['건축년도'] = data['건축년도'].astype(float)

In [22]:
data['건축년도']

0          1998.0
1          2003.0
2          1997.0
3          1998.0
4          1992.0
            ...
9591338    1994.0
9591339    2002.0
9591340    2019.0
9591341    2019.0
9591342    2019.0
Name: 건축년도, Length: 9591343, dtype: float64

*  결측값 처리하기

In [23]:
data.isna().sum()

시군구               0
번지              258
본번               76
부번               76
단지명               0
전용면적(㎡)           0
계약년월              0
계약일               0
거래금액(만원)          0
층                 0
건축년도            115
도로명               0
해제사유발생일     9497436
등기신청일자            0
거래유형              0
중개사소재지            0
dtype: int64

* 번지, 부번, 본번, 건축년도, 해제사유발생일에 결측값이 있음.

In [24]:
data['건축년도'].isna().sum()

115

In [25]:
# 건축년도에 있는 115개의 na값을 삭제함.
data['건축년도'] = data['건축년도'].dropna()

* 필요없는 컬럼 삭제

drop('컬럼명', axis=1)

In [30]:
data.columns

Index(['시군구', '단지명', '전용면적(㎡)', '계약년월', '거래금액(만원)', '층', '건축년도'], dtype='object')

In [29]:
data = data.drop(['번지', '본번', '부번', '계약일', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지'],axis=1)

KeyError: "['번지', '본번', '부번', '계약일', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지'] not found in axis"

In [31]:
data.isna().sum()

시군구           0
단지명           0
전용면적(㎡)       0
계약년월          0
거래금액(만원)      0
층             0
건축년도        115
dtype: int64

In [32]:
data = data.dropna()

In [ ]:
data.isna().sum()

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591228 entries, 0 to 9591227
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   계약년월      object
 4   거래금액(만원)  int32
 5   층         object
 6   건축년도      float64
dtypes: float64(2), int32(1), object(4)
memory usage: 475.6+ MB

In [33]:
# na값을 drop했으니까 인덱스 리셋을 다시해주자.
data = data.reset_index(drop=True)

In [34]:
data['층'].nunique()

88

In [ ]:
data['층'].unique()

In [ ]:
data[data['층']==82]

In [ ]:
data[data['층']==-4]

In [ ]:
data['단지명'].nunique()

In [ ]:
data['거래금액(만원)'].describe()

In [ ]:
data['층'] = data['층'].astype('int')

In [ ]:
data.info()

In [ ]:
# 시군구를 나눠볼까?
data['시군구'].str.split()

In [ ]:
data['시군구2'] = data['시군구'].str.split()

In [ ]:
data.head()

In [ ]:
# 읍, 면, 리 .. 어떤건 4개로 나눠지고 어떤건 3로 나눠지고
data['시군구len'] = data['시군구2'].apply(len)

In [ ]:
data.head()

In [ ]:
# 2는 뭐지??
data['시군구len'].unique()

In [ ]:
# 2는 세종특별자치시네
data[data['시군구len'] ==2]

In [ ]:
data[data['시군구len'] ==3]

In [ ]:
data['시군구2'].apply(lambda x: x[0])

In [ ]:
data['시도'] = data['시군구2']

In [ ]:
def sigungu(x):
    if len(x) < 3:
        return x[0]

In [ ]:
data = data.drop(['시군구2', '시군구len'], axis=1)

In [ ]:
data.head()

In [ ]:
data['시군구'].nunique()

In [ ]:
data['단지명'].nunique()

In [36]:
data.head()

                  시군구     단지명  전용면적(㎡)    계약년월  거래금액(만원)   층    건축년도
0  강원특별자치도 양구군 양구읍 상리      경림   59.400  200509      5000  11  1998.0
1        경기도 의정부시 민락동   한라비발디   84.990  200510     12750  19  2003.0
2        경기도 의정부시 신곡동     신일1   59.878  200510      5750   3  1997.0
3        경기도 의정부시 신곡동      풍림   49.830  200510      5500   8  1998.0
4        경기도 의정부시 용현동  용현현대1차  129.730  200511     12200  11  1992.0

In [38]:
data.to_csv("./data/부동산실거래가2008-2023.csv", index=False)

In [1]:
from sklearn.preprocessing import LabelEncoder

In [2]:
# 주소를 숫자로 변경 
le = LabelEncoder()
data['시군구'] = le.fit_transform(data['시군구'])
print(le.classes_)

NameError: name 'data' is not defined

In [ ]:
data['시군구'][3]

In [ ]:
# 숫자에 있는 문자가 뭔지 1개의 데이터만 확인.
le.inverse_transform(data['시군구'][3:4])

In [ ]:
le.classes_

In [ ]:
# 주소를 숫자로 변경  새로운 거 알기 위해서는 Label에다가 다시 넣어야 해. 컬럼 하나만 가능.
le2 = LabelEncoder()
data['단지명'] = le2.fit_transform(data['단지명'])
print(le.classes_)

In [ ]:
data['단지명']

In [ ]:
le2.inverse_transform(data['단지명'][0:1])

In [ ]:
data = data.rename(columns={"전용면적(㎡)" : "전용면적"})

In [ ]:
data.head()

In [ ]:
data.head()

In [ ]:
X = data.drop('거래금액(만원)', axis=1)
y = data['거래금액(만원)']

In [ ]:
data['전용면적'].plot(kind='box')

In [ ]:
data['거래금액(만원)'].plot(kind='box')

In [ ]:
cols = X.columns

In [ ]:
# 치우쳐저 있는 이상값이 많을 때는 RobustScaler 사용하기!
from sklearn.preprocessing import RobustScaler
rc = RobustScaler()
X = rc.fit_transform(X)
X = pd.DataFrame(X, columns=cols)

In [ ]:
X.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=10)
X_valid, X_test, y_valid, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=10)
# X_valid는 X_test에 들어있던 애들이 X_test 2 X_valid에 2로 쪼개져서 들어간다.

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score

In [ ]:
lr = LinearRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_valid)
print(mean_squared_error(y_valid, pred))
print(r2_score(y_valid, pred))

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)
pred = dtr.predict(X_valid)
print(mean_squared_error(y_valid, pred))
print(r2_score(y_valid, pred))

In [ ]:
print(y_valid)

In [ ]:
print(pred)

In [ ]:
y_valid.shape

In [ ]:
pred.shape

In [ ]:
pd.DataFrame([y_valid,pred], columns=['y_valid','pred'] )

In [ ]:
print(type(pred))

In [ ]:
print(type(y_valid))

In [ ]:
y_valid = y_valid.to_numpy()

In [ ]:
pd.DataFrame([y_valid,pred])

In [ ]:
pd.DataFrame([pred,y_valid])

In [ ]:
np.concatenate((y_valid, pred), axis=1)

In [ ]:
pred2 = dtr.predict(X_test)
print(mean_squared_error(y_test, pred2))
print(r2_score(y_test, pred2))

In [ ]:
data.head()

# 모델2 만들고 사용하기

In [ ]:
data2 = data[['전용면적','계약년월','거래금액(만원)','층','건축년도']].copy()

In [ ]:
data2

In [ ]:
X2 = data.drop('거래금액(만원)', axis=1)
y2 = data['거래금액(만원)']

In [ ]:
X2.info()

In [ ]:
X2.columns

In [ ]:
from sklearn.preprocessing import RobustScaler
rc2 = RobustScaler()
temp = rc2.fit_transform(X2.drop('계약년월', axis=1))
temp = pd.DataFrame(temp, columns=['전용면적', '층', '건축년도'])
temp.head()

In [ ]:
X2 = pd.get_dummies(X2, drop_first=True)

In [ ]:
y2

In [ ]:
X2

In [ ]:
from sklearn.preprocessing import RobustScaler
rc2 = RobustScaler()
X2 = rc2.fit_transform(X2.drop())
X2 = pd.DataFrame(X2, columns=cols)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=10)
X_valid, X_test, y_valid, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=10)