In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./data/부동산실거래가1998-2023.csv")

In [3]:
data.head(2)

                  시군구    단지명  전용면적(㎡)    계약년월  거래금액(만원)   층    건축년도
0  강원특별자치도 양구군 양구읍 상리     경림    59.40  200509      5000  11  1998.0
1        경기도 의정부시 민락동  한라비발디    84.99  200510     12750  19  2003.0

In [4]:
data.describe()

            전용면적(㎡)          계약년월      거래금액(만원)             층          건축년도
count  9.591228e+06  9.591228e+06  9.591228e+06  9.591228e+06  9.591228e+06
mean   7.446021e+01  2.014346e+05  2.605167e+04  8.759395e+00  2.000001e+03
std    2.619632e+01  5.035910e+02  2.568765e+04  6.020989e+00  8.664533e+00
min    9.260000e+00  2.005090e+05  1.550000e+02 -4.000000e+00  1.961000e+03
25%    5.952000e+01  2.010030e+05  1.100000e+04  4.000000e+00  1.994000e+03
50%    7.402500e+01  2.015030e+05  1.930000e+04  8.000000e+00  2.000000e+03
75%    8.495000e+01  2.019050e+05  3.200000e+04  1.300000e+01  2.006000e+03
max    4.243200e+02  2.023080e+05  1.450000e+06  8.300000e+01  2.023000e+03

In [5]:
data = data.drop(['시군구', '단지명'], axis=1)

In [6]:
data.head()

   전용면적(㎡)    계약년월  거래금액(만원)   층    건축년도
0   59.400  200509      5000  11  1998.0
1   84.990  200510     12750  19  2003.0
2   59.878  200510      5750   3  1997.0
3   49.830  200510      5500   8  1998.0
4  129.730  200511     12200  11  1992.0

In [7]:
data.head()

   전용면적(㎡)    계약년월  거래금액(만원)   층    건축년도
0   59.400  200509      5000  11  1998.0
1   84.990  200510     12750  19  2003.0
2   59.878  200510      5750   3  1997.0
3   49.830  200510      5500   8  1998.0
4  129.730  200511     12200  11  1992.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591228 entries, 0 to 9591227
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   전용면적(㎡)   float64
 1   계약년월      int64
 2   거래금액(만원)  int64
 3   층         int64
 4   건축년도      float64
dtypes: float64(2), int64(3)
memory usage: 365.9 MB

In [9]:
X = data.drop('거래금액(만원)', axis=1)
y = data['거래금액(만원)']

In [10]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()
X_scale = rs.fit_transform(X)

In [11]:
X_scale = pd.DataFrame(X_scale, columns=X.columns)

In [12]:
X_scale

          전용면적(㎡)      계약년월         층      건축년도
0       -0.575108 -1.101996  0.333333 -0.166667
1        0.431184 -1.100887  1.222222  0.250000
2       -0.556311 -1.100887 -0.555556 -0.250000
3       -0.951435 -1.100887  0.000000 -0.166667
4        2.190523 -1.099778  0.333333 -0.666667
...           ...       ...       ...       ...
9591223  0.430004  0.892461 -0.666667 -0.500000
9591224  0.418993  0.892461 -0.555556  0.166667
9591225  0.429611  0.892461  0.333333  1.583333
9591226  1.016319  0.892461  0.555556  1.583333
9591227  1.013567  0.892461 -0.555556  1.583333

[9591228 rows x 4 columns]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scale, y, test_size=0.4, random_state=10)
X_valid, X_test, y_valid, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=10)

In [14]:
len(X_train)

5754736

In [15]:
len(X_valid)

1918246

In [16]:
len(X_test)

1918246

In [17]:
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.metrics import mean_squared_error, r2_score
# rfr = RandomForestRegressor()
# rfr.fit(X_train, y_train)
# pred = rfr.predict(X_valid)
# print(mean_squared_error(y_valid, pred))
# print(r2_score(y_valid, pred))

In [18]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)
pred = dtr.predict(X_valid)
print(mean_squared_error(y_valid, pred))
print(r2_score(y_valid, pred))

259420750.86832073
0.6081712816173455

In [19]:
import joblib # 변수 혹은 우리가 만든 모델을 파일로 만들어주는 것 (직렬화)를 시키는 라이브러리

In [21]:
joblib.dump(dtr, './apart_model.model') # 경로가 어떻게 되는거지??

['./apart_model.model']

In [35]:
pwd # 현재 경로를 알 수 있음.

'c:\\bigdata'

In [25]:
model = joblib.load('./apart_model.model')

In [28]:
model.predict([[84.990, 200510,19,2003.0]]) # 거래금액 12750을 예측

C:\Users\hi\anaconda3\envs\testenv\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([1450000.])

In [33]:
# 치우쳐저 있는 이상값이 많을 때는 RobustScaler 사용하기!
from sklearn.preprocessing import RobustScaler
rc = RobustScaler()
X = rc.fit_transform([[129.730, 200511, 12200, 11, 1992.0]])
X = pd.DataFrame(X)

In [34]:
X

     0    1    2    3    4
0  0.0  0.0  0.0  0.0  0.0