In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/08 16:03:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/12/08 16:03:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
data = spark.read.csv('./Taitanic_train.csv', header=True)

In [4]:
data.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [5]:
data.describe().show(vertical=True)

23/12/08 16:03:54 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

-RECORD 0---------------------------
 summary     | count
 PassengerId | 891
 Survived    | 891
 Pclass      | 891
 Name        | 891
 Sex         | 891
 Age         | 714
 SibSp       | 891
 Parch       | 891
 Ticket      | 891
 Fare        | 891
 Cabin       | 204
 Embarked    | 889
-RECORD 1---------------------------
 summary     | mean
 PassengerId | 446.0
 Survived    | 0.3838383838383838
 Pclass      | 2.308641975308642
 Name        | NULL
 Sex         | NULL
 Age         | 29.69911764705882
 SibSp       | 0.5230078563411896
 Parch       | 0.38159371492704824
 Ticket      | 260318.54916792738
 Fare        | 32.2042079685746
 Cabin       | NULL
 Embarked    | NULL
-RECORD 2---------------------------
 summary     | stddev
 PassengerId | 257.3538420152301
 Survived    | 0.48659245426485753
 Pclass      | 0.8360712409770491
 Name        | NULL
 Sex         | NULL
 Age         | 14.526497332334035
 SibSp       | 1.1027434322934315
 Parch       | 0.8060572211299488
 Ticket      | 471609.26868834975
 Fare        | 49.69342859718089
 Cabin       | NULL
 Embarked    | NULL
-RECORD 3---------------------------
 summary     | min
 PassengerId | 1
 Survived    | 0
 Pclass      | 1
 Name        | "Andersson, Mr. A...
 Sex         | female
 Age         | 0.42
 SibSp       | 0
 Parch       | 0
 Ticket      | 110152
 Fare        | 0
 Cabin       | A10
 Embarked    | C
-RECORD 4---------------------------
 summary     | max
 PassengerId | 99
 Survived    | 1
 Pclass      | 3
 Name        | van Melkebeke, Mr...
 Sex         | male
 Age         | 9
 SibSp       | 8
 Parch       | 6
 Ticket      | WE/P 5735
 Fare        | 93.5
 Cabin       | T
 Embarked    | S

In [6]:
import pyspark.pandas as ps

/home/himedia/.conda/envs/spark3/lib/python3.11/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [7]:
data.describe().toPandas()

,summary,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,count,891,891,891,891,891,714,891,891,891,891,204,889
1,mean,446.0,0.3838383838383838,2.308641975308642,None,None,29.69911764705882,0.5230078563411896,0.38159371492704824,260318.54916792738,32.2042079685746,None,None
2,stddev,257.3538420152301,0.48659245426485753,0.8360712409770491,None,None,14.526497332334035,1.1027434322934315,0.8060572211299488,471609.26868834975,49.69342859718089,None,None
3,min,1,0,1,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""",female,0.42,0,0,110152,0,A10,C
4,max,99,1,3,"van Melkebeke, Mr. Philemon",male,9,8,6,WE/P 5735,93.5,T,S

In [8]:
data.show(3).toPandas()

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 3 rows

AttributeError: 'NoneType' object has no attribute 'toPandas'

In [9]:
data = data.withColumn('Family', data['SibSp'] + data['Parch'])

In [10]:
data.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Family|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|   1.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|   1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|   0.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|   1.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|   0.0|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|   0.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|   0.0|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|   4.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|   2.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|   1.0|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|   2.0|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|   0.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|   0.0|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|   6.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|   0.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|   0.0|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|   5.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|   0.0|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|   1.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|   0.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

In [11]:
data = data.drop('PassengerId', 'Cabin')

In [12]:
data.show()

+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+------+
|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+------+
|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25|       S|   1.0|
|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|       C|   1.0|
|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925|       S|   0.0|
|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1|       S|   1.0|
|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05|       S|   0.0|
|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583|       Q|   0.0|
|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|       S|   0.0|
|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075|       S|   4.0|
|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333|       S|   2.0|
|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708|       C|   1.0|
|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|       S|   2.0|
|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55|       S|   0.0|
|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05|       S|   0.0|
|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275|       S|   6.0|
|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542|       S|   0.0|
|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16|       S|   0.0|
|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125|       Q|   5.0|
|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13|       S|   0.0|
|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18|       S|   1.0|
|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225|       C|   0.0|
+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+------+
only showing top 20 rows

In [13]:
import pyspark.sql.functions as f
data.select(f.mean('Age')).show()

+-----------------+
|         avg(Age)|
+-----------------+
|29.69911764705882|
+-----------------+

In [14]:
data = data.na.fill('29','Age')

In [15]:
data.describe().show(vertical=True)

-RECORD 0------------------------
 summary  | count
 Survived | 891
 Pclass   | 891
 Name     | 891
 Sex      | 891
 Age      | 891
 SibSp    | 891
 Parch    | 891
 Ticket   | 891
 Fare     | 891
 Embarked | 889
 Family   | 891
-RECORD 1------------------------
 summary  | mean
 Survived | 0.3838383838383838
 Pclass   | 2.308641975308642
 Name     | NULL
 Sex      | NULL
 Age      | 29.56023569023569
 SibSp    | 0.5230078563411896
 Parch    | 0.38159371492704824
 Ticket   | 260318.54916792738
 Fare     | 32.2042079685746
 Embarked | NULL
 Family   | 0.9046015712682379
-RECORD 2------------------------
 summary  | stddev
 Survived | 0.48659245426485753
 Pclass   | 0.8360712409770491
 Name     | NULL
 Sex      | NULL
 Age      | 13.005010341761801
 SibSp    | 1.1027434322934315
 Parch    | 0.8060572211299488
 Ticket   | 471609.26868834975
 Fare     | 49.69342859718089
 Embarked | NULL
 Family   | 1.613458541355087
-RECORD 3------------------------
 summary  | min
 Survived | 0
 Pclass   | 1
 Name     | "Andersson, Mr. A...
 Sex      | female
 Age      | 0.42
 SibSp    | 0
 Parch    | 0
 Ticket   | 110152
 Fare     | 0
 Embarked | C
 Family   | 0.0
-RECORD 4------------------------
 summary  | max
 Survived | 1
 Pclass   | 3
 Name     | van Melkebeke, Mr...
 Sex      | male
 Age      | 9
 SibSp    | 8
 Parch    | 6
 Ticket   | WE/P 5735
 Fare     | 93.5
 Embarked | S
 Family   | 10.0

In [16]:
from pyspark.ml.feature import Imputer

In [17]:
imputer = Imputer(inputCols=['Embarked'], outputCols=['Embarked']).setStrategy('mode')
imputer.fit(data).transform(data).show()

IllegalArgumentException: requirement failed: Column Embarked must be of type numeric but was actually of type string.

* imputer는 숫자만 가능! embarked는 string이라 불가능하다.

In [18]:
data = data.withColumn('Age', data['Age'].cast('Integer'))

In [19]:
data = data.withColumn('SibSp', data['SibSp'].cast('Integer'))

In [20]:
data = data.withColumn('Pclass', data['Pclass'].cast('Integer'))

In [21]:
data = data.withColumn('Parch', data['Parch'].cast('Integer'))

In [22]:
data = data.withColumn('Fare', data['Fare'].cast('Float'))

In [23]:
data = data.withColumn('Family', data['Family'].cast('Integer'))

In [24]:
data = data.withColumn('Survived', data['Survived'].cast('Integer'))

In [25]:
data.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: float (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Family: integer (nullable = true)

In [26]:
data.na.drop(subset='Embarked')

DataFrame[Survived: int, Pclass: int, Name: string, Sex: string, Age: int, SibSp: int, Parch: int, Ticket: string, Fare: float, Embarked: string, Family: int]

In [27]:
data = data.na.drop(subset='Embarked')

In [28]:
data.describe().show(vertical=True)

-RECORD 0------------------------
 summary  | count
 Survived | 889
 Pclass   | 889
 Name     | 889
 Sex      | 889
 Age      | 889
 SibSp    | 889
 Parch    | 889
 Ticket   | 889
 Fare     | 889
 Embarked | 889
 Family   | 889
-RECORD 1------------------------
 summary  | mean
 Survived | 0.38245219347581555
 Pclass   | 2.3115860517435323
 Name     | NULL
 Sex      | NULL
 Age      | 29.498312710911136
 SibSp    | 0.5241844769403825
 Parch    | 0.38245219347581555
 Ticket   | 260763.9104704097
 Fare     | 32.09668095012618
 Embarked | NULL
 Family   | 0.906636670416198
-RECORD 2------------------------
 summary  | stddev
 Survived | 0.48625968831477334
 Pclass   | 0.8346997785705753
 Name     | NULL
 Sex      | NULL
 Age      | 12.97963787638553
 SibSp    | 1.103704875596923
 Parch    | 0.8067607445174785
 Ticket   | 472255.95121695305
 Fare     | 49.697504884074355
 Embarked | NULL
 Family   | 1.6147025929141485
-RECORD 3------------------------
 summary  | min
 Survived | 0
 Pclass   | 1
 Name     | "Andersson, Mr. A...
 Sex      | female
 Age      | 0
 SibSp    | 0
 Parch    | 0
 Ticket   | 110152
 Fare     | 0.0
 Embarked | C
 Family   | 0
-RECORD 4------------------------
 summary  | max
 Survived | 1
 Pclass   | 3
 Name     | van Melkebeke, Mr...
 Sex      | male
 Age      | 80
 SibSp    | 8
 Parch    | 6
 Ticket   | WE/P 5735
 Fare     | 512.3292
 Embarked | S
 Family   | 10

* 결측값처리 완료

In [29]:
data.filter('SibSp==4').show()

+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch| Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+
|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1| 382652| 29.125|       Q|     5|
|       0|     3|Panula, Master. J...|  male|  7|    4|    1|3101295|39.6875|       S|     5|
|       1|     3|Andersson, Miss. ...|female| 17|    4|    2|3101281|  7.925|       S|     6|
|       0|     3|Andersson, Miss. ...|female|  2|    4|    2| 347082| 31.275|       S|     6|
|       0|     3|Panula, Master. E...|  male|  1|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Rice, Master. Arthur|  male|  4|    4|    1| 382652| 29.125|       Q|     5|
|       0|     3|Asplund, Master. ...|  male|  9|    4|    2| 347077|31.3875|       S|     6|
|       1|     3|Asplund, Miss. Li...|female|  5|    4|    2| 347077|31.3875|       S|     6|
|       1|     3|Asplund, Master. ...|  male|  3|    4|    2| 347077|31.3875|       S|     6|
|       0|     3|Panula, Mr. Ernes...|  male| 16|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|  Rice, Master. Eric|  male|  7|    4|    1| 382652| 29.125|       Q|     5|
|       0|     3|Andersson, Miss. ...|female|  9|    4|    2| 347082| 31.275|       S|     6|
|       0|     3|Andersson, Miss. ...|female| 11|    4|    2| 347082| 31.275|       S|     6|
|       0|     3|Panula, Mr. Jaako...|  male| 14|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Rice, Master. Geo...|  male|  8|    4|    1| 382652| 29.125|       Q|     5|
|       0|     3|Andersson, Miss. ...|female|  6|    4|    2| 347082| 31.275|       S|     6|
|       0|     3|Panula, Master. U...|  male|  2|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Andersson, Master...|  male|  4|    4|    2| 347082| 31.275|       S|     6|
+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+

In [33]:
data.filter((data['SibSp']==4) & (data['Ticket']==382652)).show()

+--------+------+--------------------+----+---+-----+-----+------+------+--------+------+
|Survived|Pclass|                Name| Sex|Age|SibSp|Parch|Ticket|  Fare|Embarked|Family|
+--------+------+--------------------+----+---+-----+-----+------+------+--------+------+
|       0|     3|Rice, Master. Eugene|male|  2|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Master. Arthur|male|  4|    4|    1|382652|29.125|       Q|     5|
|       0|     3|  Rice, Master. Eric|male|  7|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Master. Geo...|male|  8|    4|    1|382652|29.125|       Q|     5|
+--------+------+--------------------+----+---+-----+-----+------+------+--------+------+

In [34]:
data.filter('Ticket==382652').show()

+--------+------+--------------------+------+---+-----+-----+------+------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|  Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+------+--------+------+
|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Master. Arthur|  male|  4|    4|    1|382652|29.125|       Q|     5|
|       0|     3|  Rice, Master. Eric|  male|  7|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Master. Geo...|  male|  8|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Mrs. Willia...|female| 39|    0|    5|382652|29.125|       Q|     5|
+--------+------+--------------------+------+---+-----+-----+------+------+--------+------+

In [35]:
data.filter((data['SibSp']==4) & (data['Ticket']==3101295)).show()

+--------+------+--------------------+----+---+-----+-----+-------+-------+--------+------+
|Survived|Pclass|                Name| Sex|Age|SibSp|Parch| Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+----+---+-----+-----+-------+-------+--------+------+
|       0|     3|Panula, Master. J...|male|  7|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Master. E...|male|  1|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mr. Ernes...|male| 16|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mr. Jaako...|male| 14|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Master. U...|male|  2|    4|    1|3101295|39.6875|       S|     5|
+--------+------+--------------------+----+---+-----+-----+-------+-------+--------+------+

In [36]:
data.filter('Ticket==3101295').show()

+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch| Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+
|       0|     3|Panula, Master. J...|  male|  7|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Master. E...|  male|  1|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mr. Ernes...|  male| 16|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mrs. Juha...|female| 41|    0|    5|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mr. Jaako...|  male| 14|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Master. U...|  male|  2|    4|    1|3101295|39.6875|       S|     5|
+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+

In [37]:
data.filter((data['SibSp']==4) & (data['Ticket']==347077)).show()

+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|       0|     3|Asplund, Master. ...|  male|  9|    4|    2|347077|31.3875|       S|     6|
|       1|     3|Asplund, Miss. Li...|female|  5|    4|    2|347077|31.3875|       S|     6|
|       1|     3|Asplund, Master. ...|  male|  3|    4|    2|347077|31.3875|       S|     6|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+

In [38]:
data.filter('Ticket==347077').show()

+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|       1|     3|Asplund, Mrs. Car...|female| 38|    1|    5|347077|31.3875|       S|     6|
|       0|     3|Asplund, Master. ...|  male|  9|    4|    2|347077|31.3875|       S|     6|
|       1|     3|Asplund, Miss. Li...|female|  5|    4|    2|347077|31.3875|       S|     6|
|       1|     3|Asplund, Master. ...|  male|  3|    4|    2|347077|31.3875|       S|     6|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+

In [39]:
data.filter('SibSp==2').show()

+--------+------+--------------------+------+---+-----+-----+------------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|      Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------------+-------+--------+------+
|       0|     3|Vander Planke, Mi...|female| 18|    2|    0|      345764|   18.0|       S|     2|
|       0|     3| Samaan, Mr. Youssef|  male| 29|    2|    0|        2662|21.6792|       C|     2|
|       0|     3|   Kink, Mr. Vincenz|  male| 26|    2|    0|      315151| 8.6625|       S|     2|
|       0|     3|Gustafsson, Mr. A...|  male| 37|    2|    0|     3101276|  7.925|       S|     2|
|       0|     2|Hickman, Mr. Stan...|  male| 21|    2|    0|S.O.C. 14879|   73.5|       S|     2|
|       0|     3|"Ford, Miss. Robi...|female|  9|    2|    2|  W./C. 6608| 34.375|       S|     4|
|       1|     2|Becker, Master. R...|  male|  1|    2|    1|      230136|   39.0|       S|     3|
|       0|     1|Minahan, Dr. Will...|  male| 44|    2|    0|       19928|   90.0|       Q|     2|
|       1|     3|  McCoy, Mr. Bernard|  male| 29|    2|    0|      367226|  23.25|       Q|     2|
|       1|     1|Ryerson, Miss. Em...|female| 18|    2|    2|    PC 17608|262.375|       C|     4|
|       1|     3|  McCoy, Miss. Agnes|female| 29|    2|    0|      367226|  23.25|       Q|     2|
|       0|     3|Vander Planke, Mr...|  male| 16|    2|    0|      345764|   18.0|       S|     2|
|       0|     3|Gustafsson, Mr. J...|  male| 28|    2|    0|     3101277|  7.925|       S|     2|
|       0|     3|"Ford, Miss. Dool...|female| 21|    2|    2|  W./C. 6608| 34.375|       S|     4|
|       1|     2|Richards, Mrs. Si...|female| 24|    2|    3|       29106|  18.75|       S|     5|
|       1|     3|Baclini, Miss. Ma...|female|  5|    2|    1|        2666|19.2583|       C|     3|
|       1|     3|Baclini, Miss. He...|female|  0|    2|    1|        2666|19.2583|       C|     3|
|       0|     2|Hocking, Mr. Rich...|  male| 23|    2|    1|       29104|   11.5|       S|     3|
|       0|     3|Davies, Mr. Alfred J|  male| 24|    2|    0|   A/4 48871|  24.15|       S|     2|
|       1|     1|Appleton, Mrs. Ed...|female| 53|    2|    0|       11769|51.4792|       S|     2|
+--------+------+--------------------+------+---+-----+-----+------------+-------+--------+------+
only showing top 20 rows

In [40]:
data.filter('Ticket==2666').show()

+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|       1|     3|Baclini, Miss. Ma...|female|  5|    2|    1|  2666|19.2583|       C|     3|
|       1|     3|Baclini, Miss. He...|female|  0|    2|    1|  2666|19.2583|       C|     3|
|       1|     3|Baclini, Miss. Eu...|female|  0|    2|    1|  2666|19.2583|       C|     3|
|       1|     3|Baclini, Mrs. Sol...|female| 24|    0|    3|  2666|19.2583|       C|     3|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+

In [41]:
data.filter('Ticket==367226').show()

+--------+------+------------------+------+---+-----+-----+------+-----+--------+------+
|Survived|Pclass|              Name|   Sex|Age|SibSp|Parch|Ticket| Fare|Embarked|Family|
+--------+------+------------------+------+---+-----+-----+------+-----+--------+------+
|       1|     3|McCoy, Mr. Bernard|  male| 29|    2|    0|367226|23.25|       Q|     2|
|       1|     3|McCoy, Miss. Agnes|female| 29|    2|    0|367226|23.25|       Q|     2|
+--------+------+------------------+------+---+-----+-----+------+-----+--------+------+

In [42]:
data.filter('Ticket==345764').show()

+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+
|       0|     3|Vander Planke, Mi...|female| 18|    2|    0|345764|18.0|       S|     2|
|       0|     3|Vander Planke, Mr...|  male| 16|    2|    0|345764|18.0|       S|     2|
+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+

In [43]:
data.filter('Ticket==19928').show()

+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+
|       0|     1|Minahan, Dr. Will...|  male| 44|    2|    0| 19928|90.0|       Q|     2|
|       1|     1|Minahan, Miss. Da...|female| 33|    1|    0| 19928|90.0|       Q|     1|
+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+

In [44]:
data.filter(~(data['Pclass']==3)).show()

+--------+------+--------------------+------+---+-----+-----+-------------+--------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|       Ticket|    Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+-------------+--------+--------+------+
|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|     PC 17599| 71.2833|       C|     1|
|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|       113803|    53.1|       S|     1|
|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|        17463| 51.8625|       S|     0|
|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|       237736| 30.0708|       C|     1|
|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|       113783|   26.55|       S|     0|
|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|       248706|    16.0|       S|     0|
|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|       244373|    13.0|       S|     0|
|       0|     2|Fynney, Mr. Joseph J|  male| 35|    0|    0|       239865|    26.0|       S|     0|
|       1|     2|Beesley, Mr. Lawr...|  male| 34|    0|    0|       248698|    13.0|       S|     0|
|       1|     1|Sloper, Mr. Willi...|  male| 28|    0|    0|       113788|    35.5|       S|     0|
|       0|     1|Fortune, Mr. Char...|  male| 19|    3|    2|        19950|   263.0|       S|     5|
|       0|     1|Uruchurtu, Don. M...|  male| 40|    0|    0|     PC 17601| 27.7208|       C|     0|
|       1|     1|Spencer, Mrs. Wil...|female| 29|    1|    0|     PC 17569|146.5208|       C|     1|
|       0|     2|Wheadon, Mr. Edwa...|  male| 66|    0|    0|   C.A. 24579|    10.5|       S|     0|
|       0|     1|Meyer, Mr. Edgar ...|  male| 28|    1|    0|     PC 17604| 82.1708|       C|     1|
|       0|     1|Holverson, Mr. Al...|  male| 42|    1|    0|       113789|    52.0|       S|     1|
|       0|     2|Turpin, Mrs. Will...|female| 27|    1|    0|        11668|    21.0|       S|     1|
|       1|     2|Laroche, Miss. Si...|female|  3|    1|    2|SC/Paris 2123| 41.5792|       C|     3|
|       1|     1|Harper, Mrs. Henr...|female| 49|    1|    0|     PC 17572| 76.7292|       C|     1|
|       1|     2|Faunthorpe, Mrs. ...|female| 29|    1|    0|         2926|    26.0|       S|     1|
+--------+------+--------------------+------+---+-----+-----+-------------+--------+--------+------+
only showing top 20 rows

In [50]:
data.groupby('Pclass','Survived').agg({'Survived':'count'}).orderBy('Pclass').show()

+------+--------+---------------+
|Pclass|Survived|count(Survived)|
+------+--------+---------------+
|     1|       0|             80|
|     1|       1|            134|
|     2|       1|             87|
|     2|       0|             97|
|     3|       1|            119|
|     3|       0|            372|
+------+--------+---------------+

In [51]:
data.groupby('Pclass').agg({'Ticket':'count'}).orderBy('Pclass').show()

+------+-------------+
|Pclass|count(Ticket)|
+------+-------------+
|     1|          214|
|     2|          184|
|     3|          491|
+------+-------------+

In [52]:
data.groupby('Age').agg({'Survived':'count'}).orderBy('Age').show()

+---+---------------+
|Age|count(Survived)|
+---+---------------+
|  0|              7|
|  1|              7|
|  2|             10|
|  3|              6|
|  4|             10|
|  5|              4|
|  6|              3|
|  7|              3|
|  8|              4|
|  9|              8|
| 10|              2|
| 11|              4|
| 12|              1|
| 13|              2|
| 14|              7|
| 15|              5|
| 16|             17|
| 17|             13|
| 18|             26|
| 19|             25|
+---+---------------+
only showing top 20 rows

In [57]:
data.show()

+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25|       S|     1|
|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|       C|     1|
|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925|       S|     0|
|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1|       S|     1|
|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05|       S|     0|
|       0|     3|    Moran, Mr. James|  male| 29|    0|    0|          330877| 8.4583|       Q|     0|
|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|51.8625|       S|     0|
|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909| 21.075|       S|     4|
|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.1333|       S|     2|
|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|30.0708|       C|     1|
|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|   16.7|       S|     2|
|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|  26.55|       S|     0|
|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151|   8.05|       S|     0|
|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082| 31.275|       S|     6|
|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406| 7.8542|       S|     0|
|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706|   16.0|       S|     0|
|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652| 29.125|       Q|     5|
|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|          244373|   13.0|       S|     0|
|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|   18.0|       S|     1|
|       1|     3|Masselmani, Mrs. ...|female| 29|    0|    0|            2649|  7.225|       C|     0|
+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
only showing top 20 rows

In [30]:
data =data.drop('Name','Ticket', 'Fare', 'SibSp', 'Parch')

In [31]:
data.show()

+--------+------+------+---+--------+------+
|Survived|Pclass|   Sex|Age|Embarked|Family|
+--------+------+------+---+--------+------+
|       0|     3|  male| 22|       S|     1|
|       1|     1|female| 38|       C|     1|
|       1|     3|female| 26|       S|     0|
|       1|     1|female| 35|       S|     1|
|       0|     3|  male| 35|       S|     0|
|       0|     3|  male| 29|       Q|     0|
|       0|     1|  male| 54|       S|     0|
|       0|     3|  male|  2|       S|     4|
|       1|     3|female| 27|       S|     2|
|       1|     2|female| 14|       C|     1|
|       1|     3|female|  4|       S|     2|
|       1|     1|female| 58|       S|     0|
|       0|     3|  male| 20|       S|     0|
|       0|     3|  male| 39|       S|     6|
|       0|     3|female| 14|       S|     0|
|       1|     2|female| 55|       S|     0|
|       0|     3|  male|  2|       Q|     5|
|       1|     2|  male| 29|       S|     0|
|       0|     3|female| 31|       S|     1|
|       1|     3|female| 29|       C|     0|
+--------+------+------+---+--------+------+
only showing top 20 rows

In [63]:
data.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Family: integer (nullable = true)

* 분석을 해보자!

In [32]:
# 레이블 인코딩 하기
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCols=['Sex','Embarked'], outputCols=["SexIndex", "EmbarkedIndex"])
df = indexer.fit(data).transform(data)

In [33]:
# 원핫 인코딩하기
from pyspark.ml.feature import OneHotEncoder
encoder = OneHotEncoder(inputCols=['SexIndex','EmbarkedIndex'], outputCols=['Sex_vec', 'Embarked_vec'])
df = encoder.fit(df).transform(df)

In [34]:
df

DataFrame[Survived: int, Pclass: int, Sex: string, Age: int, Embarked: string, Family: int, SexIndex: double, EmbarkedIndex: double, Sex_vec: vector, Embarked_vec: vector]

In [35]:
# 독립변수를 하나의 벡터로 만들기
from pyspark.ml.feature import VectorAssembler
feature_assembler = VectorAssembler(inputCols = ['Pclass', 'Age', 'Family', 'Sex_vec', 'Embarked_vec'], outputCol='Features')
df = feature_assembler.transform(df)
df.show()

+--------+------+------+---+--------+------+--------+-------------+-------------+-------------+--------------------+
|Survived|Pclass|   Sex|Age|Embarked|Family|SexIndex|EmbarkedIndex|      Sex_vec| Embarked_vec|            Features|
+--------+------+------+---+--------+------+--------+-------------+-------------+-------------+--------------------+
|       0|     3|  male| 22|       S|     1|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,22.0,1.0,1.0...|
|       1|     1|female| 38|       C|     1|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|[1.0,38.0,1.0,0.0...|
|       1|     3|female| 26|       S|     0|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[3.0,26.0,0.0,0.0...|
|       1|     1|female| 35|       S|     1|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[1.0,35.0,1.0,0.0...|
|       0|     3|  male| 35|       S|     0|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,35.0,0.0,1.0...|
|       0|     3|  male| 29|       Q|     0|     0.0|          2.0|(1,[0],[1.0])|    (2,[],[])|[3.0,29.0,0.0,1.0...|
|       0|     1|  male| 54|       S|     0|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,54.0,0.0,1.0...|
|       0|     3|  male|  2|       S|     4|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,2.0,4.0,1.0,...|
|       1|     3|female| 27|       S|     2|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[3.0,27.0,2.0,0.0...|
|       1|     2|female| 14|       C|     1|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|[2.0,14.0,1.0,0.0...|
|       1|     3|female|  4|       S|     2|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[3.0,4.0,2.0,0.0,...|
|       1|     1|female| 58|       S|     0|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[1.0,58.0,0.0,0.0...|
|       0|     3|  male| 20|       S|     0|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,20.0,0.0,1.0...|
|       0|     3|  male| 39|       S|     6|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,39.0,6.0,1.0...|
|       0|     3|female| 14|       S|     0|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[3.0,14.0,0.0,0.0...|
|       1|     2|female| 55|       S|     0|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[2.0,55.0,0.0,0.0...|
|       0|     3|  male|  2|       Q|     5|     0.0|          2.0|(1,[0],[1.0])|    (2,[],[])|[3.0,2.0,5.0,1.0,...|
|       1|     2|  male| 29|       S|     0|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[2.0,29.0,0.0,1.0...|
|       0|     3|female| 31|       S|     1|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[3.0,31.0,1.0,0.0...|
|       1|     3|female| 29|       C|     0|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|[3.0,29.0,0.0,0.0...|
+--------+------+------+---+--------+------+--------+-------------+-------------+-------------+--------------------+
only showing top 20 rows

In [36]:
new_df = df.drop('Pclass', 'Age','Sex',  'Family', 'Embarked', 'SexIndex', 'EmbarkedIndex', 'Sex_vec', 'Embarked_vec')
new_df.show()

+--------+--------------------+
|Survived|            Features|
+--------+--------------------+
|       0|[3.0,22.0,1.0,1.0...|
|       1|[1.0,38.0,1.0,0.0...|
|       1|[3.0,26.0,0.0,0.0...|
|       1|[1.0,35.0,1.0,0.0...|
|       0|[3.0,35.0,0.0,1.0...|
|       0|[3.0,29.0,0.0,1.0...|
|       0|[1.0,54.0,0.0,1.0...|
|       0|[3.0,2.0,4.0,1.0,...|
|       1|[3.0,27.0,2.0,0.0...|
|       1|[2.0,14.0,1.0,0.0...|
|       1|[3.0,4.0,2.0,0.0,...|
|       1|[1.0,58.0,0.0,0.0...|
|       0|[3.0,20.0,0.0,1.0...|
|       0|[3.0,39.0,6.0,1.0...|
|       0|[3.0,14.0,0.0,0.0...|
|       1|[2.0,55.0,0.0,0.0...|
|       0|[3.0,2.0,5.0,1.0,...|
|       1|[2.0,29.0,0.0,1.0...|
|       0|[3.0,31.0,1.0,0.0...|
|       1|[3.0,29.0,0.0,0.0...|
+--------+--------------------+
only showing top 20 rows

* 트레인과 테스트로 홀드아웃

In [37]:
(train_data, test_data) = new_df.randomSplit([0.6, 0.4], seed=10)

* 분석하기!

In [38]:
from pyspark.ml.classification import DecisionTreeClassifier
dtc = DecisionTreeClassifier(featuresCol='Features', labelCol='Survived', maxDepth=3)
dtc = dtc.fit(train_data)
pred = dtc.transform(test_data)
pred.show()

from sklearn.metrics import accuracy_score, classification_report
print(accuracy_score(pred['prediction'], pred['Survived']))
print(classification_report(pred['prediction'], pred['Survived']))

+--------+--------------------+-------------+--------------------+----------+
|Survived|            Features|rawPrediction|         probability|prediction|
+--------+--------------------+-------------+--------------------+----------+
|       0|(6,[0,1],[3.0,21.0])|  [30.0,32.0]|[0.48387096774193...|       1.0|
|       0|(6,[0,1],[3.0,29.0])|  [30.0,32.0]|[0.48387096774193...|       1.0|
|       0|[1.0,2.0,3.0,0.0,...|  [7.0,101.0]|[0.06481481481481...|       1.0|
|       0|[1.0,18.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,19.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,21.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,24.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,28.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,28.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,31.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,31.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,33.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
+--------+--------------------+-------------+--------------------+----------+
only showing top 20 rows

TypeError: object of type 'Column' has no len()

In [116]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /home/himedia/.conda/envs/spark3/lib/python3.11/site-packages (from scikit-learn) (1.26.2)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.11.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.4/60.4 kB 1.2 MB/s eta 0:00:00a 0:00:01
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.3.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 8.2 MB/s eta 0:00:00:00:0100:01
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 5.4 MB/s eta 0:00:00:00:01
Downloading scipy-1.11.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.4/36.4 MB 5.3 MB/s eta 0:00:00:00:0100:01
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 scipy-1.11.4 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [41]:
from pyspark.ml.classification import DecisionTreeClassifier
dtc = DecisionTreeClassifier(featuresCol='Features', labelCol='Survived', maxDepth=3)
dtc = dtc.fit(train_data)
pred = dtc.transform(test_data)
pred.show()

# Pandas DataFrame로 변환 후 평가
pred_pd = predictions.toPandas()
print(accuracy_score(pred_pd['prediction'], pred_pd['Survived']))
print(classification_report(pred_pd['prediction'], pred_pd['Survived']))

+--------+--------------------+-------------+--------------------+----------+
|Survived|            Features|rawPrediction|         probability|prediction|
+--------+--------------------+-------------+--------------------+----------+
|       0|(6,[0,1],[3.0,21.0])|  [30.0,32.0]|[0.48387096774193...|       1.0|
|       0|(6,[0,1],[3.0,29.0])|  [30.0,32.0]|[0.48387096774193...|       1.0|
|       0|[1.0,2.0,3.0,0.0,...|  [7.0,101.0]|[0.06481481481481...|       1.0|
|       0|[1.0,18.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,19.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,21.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,24.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,28.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,28.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,29.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,31.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,31.0,1.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
|       0|[1.0,33.0,0.0,1.0...| [257.0,53.0]|[0.82903225806451...|       0.0|
+--------+--------------------+-------------+--------------------+----------+
only showing top 20 rows

0.8409703504043127
              precision    recall  f1-score   support

         0.0       0.90      0.85      0.88       245
         1.0       0.74      0.83      0.78       126

    accuracy                           0.84       371
   macro avg       0.82      0.84      0.83       371
weighted avg       0.85      0.84      0.84       371

IllegalArgumentException: requirement failed: Column Embarked must be of type numeric but was actually of type string.

* imputer는 숫자만 가능! embarked는 string이라 불가능!

In [84]:
data.select(f.mode('Embarked')).show()

AttributeError: module 'pyspark.sql.functions' has no attribute 'mode'

In [86]:
data = data.na.drop(subset='Embarked')

In [87]:
data.show()

+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25|       S|     1|
|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|       C|     1|
|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925|       S|     0|
|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1|       S|     1|
|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05|       S|     0|
|       0|     3|    Moran, Mr. James|  male| 29|    0|    0|          330877| 8.4583|       Q|     0|
|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|51.8625|       S|     0|
|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909| 21.075|       S|     4|
|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.1333|       S|     2|
|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|30.0708|       C|     1|
|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|   16.7|       S|     2|
|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|  26.55|       S|     0|
|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151|   8.05|       S|     0|
|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082| 31.275|       S|     6|
|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406| 7.8542|       S|     0|
|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706|   16.0|       S|     0|
|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652| 29.125|       Q|     5|
|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|          244373|   13.0|       S|     0|
|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|   18.0|       S|     1|
|       1|     3|Masselmani, Mrs. ...|female| 29|    0|    0|            2649|  7.225|       C|     0|
+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
only showing top 20 rows

In [88]:
data.describe().show(vertical=True)

-RECORD 0------------------------
 summary  | count
 Survived | 889
 Pclass   | 889
 Name     | 889
 Sex      | 889
 Age      | 889
 SibSp    | 889
 Parch    | 889
 Ticket   | 889
 Fare     | 889
 Embarked | 889
 Family   | 889
-RECORD 1------------------------
 summary  | mean
 Survived | 0.38245219347581555
 Pclass   | 2.3115860517435323
 Name     | null
 Sex      | null
 Age      | 29.498312710911136
 SibSp    | 0.5241844769403825
 Parch    | 0.38245219347581555
 Ticket   | 260763.9104704097
 Fare     | 32.09668095012618
 Embarked | null
 Family   | 0.906636670416198
-RECORD 2------------------------
 summary  | stddev
 Survived | 0.48625968831477334
 Pclass   | 0.8346997785705753
 Name     | null
 Sex      | null
 Age      | 12.97963787638553
 SibSp    | 1.103704875596923
 Parch    | 0.8067607445174785
 Ticket   | 472255.95121695305
 Fare     | 49.697504884074355
 Embarked | null
 Family   | 1.6147025929141485
-RECORD 3------------------------
 summary  | min
 Survived | 0
 Pclass   | 1
 Name     | "Andersson, Mr. A...
 Sex      | female
 Age      | 0
 SibSp    | 0
 Parch    | 0
 Ticket   | 110152
 Fare     | 0.0
 Embarked | C
 Family   | 0
-RECORD 4------------------------
 summary  | max
 Survived | 1
 Pclass   | 3
 Name     | van Melkebeke, Mr...
 Sex      | male
 Age      | 80
 SibSp    | 8
 Parch    | 6
 Ticket   | WE/P 5735
 Fare     | 512.3292
 Embarked | S
 Family   | 10

In [89]:
data.printSchema()

root
 |-- Survived: string (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: float (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Family: integer (nullable = true)

In [90]:
data = data.withColumn('Survived', data['Survived'].cast('Integer'))

In [91]:
data.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: float (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Family: integer (nullable = true)

In [92]:
data.show()

+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25|       S|     1|
|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|       C|     1|
|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925|       S|     0|
|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1|       S|     1|
|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05|       S|     0|
|       0|     3|    Moran, Mr. James|  male| 29|    0|    0|          330877| 8.4583|       Q|     0|
|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|51.8625|       S|     0|
|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909| 21.075|       S|     4|
|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.1333|       S|     2|
|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|30.0708|       C|     1|
|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|   16.7|       S|     2|
|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|  26.55|       S|     0|
|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151|   8.05|       S|     0|
|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082| 31.275|       S|     6|
|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406| 7.8542|       S|     0|
|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706|   16.0|       S|     0|
|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652| 29.125|       Q|     5|
|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|          244373|   13.0|       S|     0|
|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|   18.0|       S|     1|
|       1|     3|Masselmani, Mrs. ...|female| 29|    0|    0|            2649|  7.225|       C|     0|
+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
only showing top 20 rows

In [102]:
data.filter('SibSp==4').show()

+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch| Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+
|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1| 382652| 29.125|       Q|     5|
|       0|     3|Panula, Master. J...|  male|  7|    4|    1|3101295|39.6875|       S|     5|
|       1|     3|Andersson, Miss. ...|female| 17|    4|    2|3101281|  7.925|       S|     6|
|       0|     3|Andersson, Miss. ...|female|  2|    4|    2| 347082| 31.275|       S|     6|
|       0|     3|Panula, Master. E...|  male|  1|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Rice, Master. Arthur|  male|  4|    4|    1| 382652| 29.125|       Q|     5|
|       0|     3|Asplund, Master. ...|  male|  9|    4|    2| 347077|31.3875|       S|     6|
|       1|     3|Asplund, Miss. Li...|female|  5|    4|    2| 347077|31.3875|       S|     6|
|       1|     3|Asplund, Master. ...|  male|  3|    4|    2| 347077|31.3875|       S|     6|
|       0|     3|Panula, Mr. Ernes...|  male| 16|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|  Rice, Master. Eric|  male|  7|    4|    1| 382652| 29.125|       Q|     5|
|       0|     3|Andersson, Miss. ...|female|  9|    4|    2| 347082| 31.275|       S|     6|
|       0|     3|Andersson, Miss. ...|female| 11|    4|    2| 347082| 31.275|       S|     6|
|       0|     3|Panula, Mr. Jaako...|  male| 14|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Rice, Master. Geo...|  male|  8|    4|    1| 382652| 29.125|       Q|     5|
|       0|     3|Andersson, Miss. ...|female|  6|    4|    2| 347082| 31.275|       S|     6|
|       0|     3|Panula, Master. U...|  male|  2|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Andersson, Master...|  male|  4|    4|    2| 347082| 31.275|       S|     6|
+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+

In [101]:
data.filter((data['SibSp']==4) & (data['Ticket']==382652)).show()

+--------+------+--------------------+----+---+-----+-----+------+------+--------+------+
|Survived|Pclass|                Name| Sex|Age|SibSp|Parch|Ticket|  Fare|Embarked|Family|
+--------+------+--------------------+----+---+-----+-----+------+------+--------+------+
|       0|     3|Rice, Master. Eugene|male|  2|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Master. Arthur|male|  4|    4|    1|382652|29.125|       Q|     5|
|       0|     3|  Rice, Master. Eric|male|  7|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Master. Geo...|male|  8|    4|    1|382652|29.125|       Q|     5|
+--------+------+--------------------+----+---+-----+-----+------+------+--------+------+

In [109]:
data.filter('Ticket==382652').show()

+--------+------+--------------------+------+---+-----+-----+------+------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|  Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+------+--------+------+
|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Master. Arthur|  male|  4|    4|    1|382652|29.125|       Q|     5|
|       0|     3|  Rice, Master. Eric|  male|  7|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Master. Geo...|  male|  8|    4|    1|382652|29.125|       Q|     5|
|       0|     3|Rice, Mrs. Willia...|female| 39|    0|    5|382652|29.125|       Q|     5|
+--------+------+--------------------+------+---+-----+-----+------+------+--------+------+

In [104]:
data.filter((data['SibSp']==4) & (data['Ticket']==3101295)).show()

+--------+------+--------------------+----+---+-----+-----+-------+-------+--------+------+
|Survived|Pclass|                Name| Sex|Age|SibSp|Parch| Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+----+---+-----+-----+-------+-------+--------+------+
|       0|     3|Panula, Master. J...|male|  7|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Master. E...|male|  1|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mr. Ernes...|male| 16|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mr. Jaako...|male| 14|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Master. U...|male|  2|    4|    1|3101295|39.6875|       S|     5|
+--------+------+--------------------+----+---+-----+-----+-------+-------+--------+------+

In [110]:
data.filter('Ticket==3101295').show()

+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch| Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+
|       0|     3|Panula, Master. J...|  male|  7|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Master. E...|  male|  1|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mr. Ernes...|  male| 16|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mrs. Juha...|female| 41|    0|    5|3101295|39.6875|       S|     5|
|       0|     3|Panula, Mr. Jaako...|  male| 14|    4|    1|3101295|39.6875|       S|     5|
|       0|     3|Panula, Master. U...|  male|  2|    4|    1|3101295|39.6875|       S|     5|
+--------+------+--------------------+------+---+-----+-----+-------+-------+--------+------+

In [105]:
data.filter((data['SibSp']==4) & (data['Ticket']==347077)).show()

+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|       0|     3|Asplund, Master. ...|  male|  9|    4|    2|347077|31.3875|       S|     6|
|       1|     3|Asplund, Miss. Li...|female|  5|    4|    2|347077|31.3875|       S|     6|
|       1|     3|Asplund, Master. ...|  male|  3|    4|    2|347077|31.3875|       S|     6|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+

In [107]:
data.filter('Ticket==347077').show()

+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|       1|     3|Asplund, Mrs. Car...|female| 38|    1|    5|347077|31.3875|       S|     6|
|       0|     3|Asplund, Master. ...|  male|  9|    4|    2|347077|31.3875|       S|     6|
|       1|     3|Asplund, Miss. Li...|female|  5|    4|    2|347077|31.3875|       S|     6|
|       1|     3|Asplund, Master. ...|  male|  3|    4|    2|347077|31.3875|       S|     6|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+

In [112]:
data.filter('SibSp==2').show()

+--------+------+--------------------+------+---+-----+-----+------------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|      Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------------+-------+--------+------+
|       0|     3|Vander Planke, Mi...|female| 18|    2|    0|      345764|   18.0|       S|     2|
|       0|     3| Samaan, Mr. Youssef|  male| 29|    2|    0|        2662|21.6792|       C|     2|
|       0|     3|   Kink, Mr. Vincenz|  male| 26|    2|    0|      315151| 8.6625|       S|     2|
|       0|     3|Gustafsson, Mr. A...|  male| 37|    2|    0|     3101276|  7.925|       S|     2|
|       0|     2|Hickman, Mr. Stan...|  male| 21|    2|    0|S.O.C. 14879|   73.5|       S|     2|
|       0|     3|"Ford, Miss. Robi...|female|  9|    2|    2|  W./C. 6608| 34.375|       S|     4|
|       1|     2|Becker, Master. R...|  male|  1|    2|    1|      230136|   39.0|       S|     3|
|       0|     1|Minahan, Dr. Will...|  male| 44|    2|    0|       19928|   90.0|       Q|     2|
|       1|     3|  McCoy, Mr. Bernard|  male| 29|    2|    0|      367226|  23.25|       Q|     2|
|       1|     1|Ryerson, Miss. Em...|female| 18|    2|    2|    PC 17608|262.375|       C|     4|
|       1|     3|  McCoy, Miss. Agnes|female| 29|    2|    0|      367226|  23.25|       Q|     2|
|       0|     3|Vander Planke, Mr...|  male| 16|    2|    0|      345764|   18.0|       S|     2|
|       0|     3|Gustafsson, Mr. J...|  male| 28|    2|    0|     3101277|  7.925|       S|     2|
|       0|     3|"Ford, Miss. Dool...|female| 21|    2|    2|  W./C. 6608| 34.375|       S|     4|
|       1|     2|Richards, Mrs. Si...|female| 24|    2|    3|       29106|  18.75|       S|     5|
|       1|     3|Baclini, Miss. Ma...|female|  5|    2|    1|        2666|19.2583|       C|     3|
|       1|     3|Baclini, Miss. He...|female|  0|    2|    1|        2666|19.2583|       C|     3|
|       0|     2|Hocking, Mr. Rich...|  male| 23|    2|    1|       29104|   11.5|       S|     3|
|       0|     3|Davies, Mr. Alfred J|  male| 24|    2|    0|   A/4 48871|  24.15|       S|     2|
|       1|     1|Appleton, Mrs. Ed...|female| 53|    2|    0|       11769|51.4792|       S|     2|
+--------+------+--------------------+------+---+-----+-----+------------+-------+--------+------+
only showing top 20 rows

In [115]:
data.filter('Ticket==2666').show()

+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+
|       1|     3|Baclini, Miss. Ma...|female|  5|    2|    1|  2666|19.2583|       C|     3|
|       1|     3|Baclini, Miss. He...|female|  0|    2|    1|  2666|19.2583|       C|     3|
|       1|     3|Baclini, Miss. Eu...|female|  0|    2|    1|  2666|19.2583|       C|     3|
|       1|     3|Baclini, Mrs. Sol...|female| 24|    0|    3|  2666|19.2583|       C|     3|
+--------+------+--------------------+------+---+-----+-----+------+-------+--------+------+

In [116]:
data.filter('Ticket==367226').show()

+--------+------+------------------+------+---+-----+-----+------+-----+--------+------+
|Survived|Pclass|              Name|   Sex|Age|SibSp|Parch|Ticket| Fare|Embarked|Family|
+--------+------+------------------+------+---+-----+-----+------+-----+--------+------+
|       1|     3|McCoy, Mr. Bernard|  male| 29|    2|    0|367226|23.25|       Q|     2|
|       1|     3|McCoy, Miss. Agnes|female| 29|    2|    0|367226|23.25|       Q|     2|
+--------+------+------------------+------+---+-----+-----+------+-----+--------+------+

In [117]:
data.filter('Ticket==345764').show()

+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+
|       0|     3|Vander Planke, Mi...|female| 18|    2|    0|345764|18.0|       S|     2|
|       0|     3|Vander Planke, Mr...|  male| 16|    2|    0|345764|18.0|       S|     2|
+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+

In [118]:
data.filter('Ticket==19928').show()

+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|Ticket|Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+
|       0|     1|Minahan, Dr. Will...|  male| 44|    2|    0| 19928|90.0|       Q|     2|
|       1|     1|Minahan, Miss. Da...|female| 33|    1|    0| 19928|90.0|       Q|     1|
+--------+------+--------------------+------+---+-----+-----+------+----+--------+------+

In [146]:
data.filter(~(data['Pclass']==3)).show()

+--------+------+--------------------+------+---+-----+-----+-------------+--------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|       Ticket|    Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+-------------+--------+--------+------+
|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|     PC 17599| 71.2833|       C|     1|
|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|       113803|    53.1|       S|     1|
|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|        17463| 51.8625|       S|     0|
|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|       237736| 30.0708|       C|     1|
|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|       113783|   26.55|       S|     0|
|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|       248706|    16.0|       S|     0|
|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|       244373|    13.0|       S|     0|
|       0|     2|Fynney, Mr. Joseph J|  male| 35|    0|    0|       239865|    26.0|       S|     0|
|       1|     2|Beesley, Mr. Lawr...|  male| 34|    0|    0|       248698|    13.0|       S|     0|
|       1|     1|Sloper, Mr. Willi...|  male| 28|    0|    0|       113788|    35.5|       S|     0|
|       0|     1|Fortune, Mr. Char...|  male| 19|    3|    2|        19950|   263.0|       S|     5|
|       0|     1|Uruchurtu, Don. M...|  male| 40|    0|    0|     PC 17601| 27.7208|       C|     0|
|       1|     1|Spencer, Mrs. Wil...|female| 29|    1|    0|     PC 17569|146.5208|       C|     1|
|       0|     2|Wheadon, Mr. Edwa...|  male| 66|    0|    0|   C.A. 24579|    10.5|       S|     0|
|       0|     1|Meyer, Mr. Edgar ...|  male| 28|    1|    0|     PC 17604| 82.1708|       C|     1|
|       0|     1|Holverson, Mr. Al...|  male| 42|    1|    0|       113789|    52.0|       S|     1|
|       0|     2|Turpin, Mrs. Will...|female| 27|    1|    0|        11668|    21.0|       S|     1|
|       1|     2|Laroche, Miss. Si...|female|  3|    1|    2|SC/Paris 2123| 41.5792|       C|     3|
|       1|     1|Harper, Mrs. Henr...|female| 49|    1|    0|     PC 17572| 76.7292|       C|     1|
|       1|     2|Faunthorpe, Mrs. ...|female| 29|    1|    0|         2926|    26.0|       S|     1|
+--------+------+--------------------+------+---+-----+-----+-------------+--------+--------+------+
only showing top 20 rows

In [147]:
data.filter(~(data['Pclass']==3)).groupby('Pclass').show()

AttributeError: 'GroupedData' object has no attribute 'show'

In [133]:
data.groupby('Pclass','Survived').agg({'Survived':'count'}).orderBy('Pclass').show()

+------+--------+---------------+
|Pclass|Survived|count(Survived)|
+------+--------+---------------+
|     1|       1|            134|
|     1|       0|             80|
|     2|       1|             87|
|     2|       0|             97|
|     3|       1|            119|
|     3|       0|            372|
+------+--------+---------------+

In [132]:
data.groupby('Pclass').agg({'Ticket':'count'}).orderBy('Pclass').show()

+------+-------------+
|Pclass|count(Ticket)|
+------+-------------+
|     1|          214|
|     2|          184|
|     3|          491|
+------+-------------+

In [137]:
data.groupby('Age').agg({'Survived':'count'}).orderBy('Age').show()

+---+---------------+
|Age|count(Survived)|
+---+---------------+
|  0|              7|
|  1|              7|
|  2|             10|
|  3|              6|
|  4|             10|
|  5|              4|
|  6|              3|
|  7|              3|
|  8|              4|
|  9|              8|
| 10|              2|
| 11|              4|
| 12|              1|
| 13|              2|
| 14|              7|
| 15|              5|
| 16|             17|
| 17|             13|
| 18|             26|
| 19|             25|
+---+---------------+
only showing top 20 rows

In [148]:
data.show()

+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Embarked|Family|
+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25|       S|     1|
|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|       C|     1|
|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925|       S|     0|
|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1|       S|     1|
|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05|       S|     0|
|       0|     3|    Moran, Mr. James|  male| 29|    0|    0|          330877| 8.4583|       Q|     0|
|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|51.8625|       S|     0|
|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909| 21.075|       S|     4|
|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.1333|       S|     2|
|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|30.0708|       C|     1|
|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|   16.7|       S|     2|
|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|  26.55|       S|     0|
|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151|   8.05|       S|     0|
|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082| 31.275|       S|     6|
|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406| 7.8542|       S|     0|
|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706|   16.0|       S|     0|
|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652| 29.125|       Q|     5|
|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|          244373|   13.0|       S|     0|
|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|   18.0|       S|     1|
|       1|     3|Masselmani, Mrs. ...|female| 29|    0|    0|            2649|  7.225|       C|     0|
+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+------+
only showing top 20 rows

In [ ]:
data.drop('Name',)